{
  "openapi": "3.1.0",
  "info": {
    "title": "Serialized Data API",
    "description": "On-chain data for trading apps - tokens, candles, token filters. Built on our own indexers. 18 EVM chains + Solana, live.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://demo.serialized.xyz",
      "description": "Demo: no key needed, read endpoints, rate-limited per IP"
    },
    {
      "url": "https://api.serialized.xyz",
      "description": "Production: your API key in the Authorization header"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Your raw API key (not needed on the demo server)."
      }
    }
  },
  "security": [
    {
      "apiKey": []
    },
    {}
  ],
  "paths": {
    "/v1/audit/chains": {
      "get": {
        "operationId": "audit-coverage",
        "summary": "Audit Coverage",
        "description": "Chains covered by the audit engine.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/audit/contract": {
      "get": {
        "operationId": "contract-audit",
        "summary": "Contract Audit",
        "description": "Full Serialized Audit verdict for a contract: safety verdict, vulnerabilities, ownership/renounce state, proxy detection, open-source status. Async-first: an already-audited token answers inline; a new one starts the audit and returns a progress status to re-poll.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` (audit covers EVM only).",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token/contract address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          }
        ]
      }
    },
    "/v1/meta/chains": {
      "get": {
        "operationId": "chains",
        "summary": "Chains",
        "description": "Supported chains with status. Free.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/meta/factories": {
      "get": {
        "operationId": "get-v1-meta-factories",
        "summary": "Factories",
        "description": "Launchpad and factory keys of the registry: `factories` lists every key, `byChain` the keys the `factories=` filter of `/v1/pulse` accepts for each chain. EVM and Solana. Free.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/pool": {
      "get": {
        "operationId": "market-definition",
        "summary": "Market Definition",
        "description": "Static definition of one market (pool): pair address, venue/DEX, base & quote token metadata, fee tier, created-at. Slow-changing - cache-friendly. A market id is simply chain + pool address: stable, unique on its venue, never reused.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          }
        ]
      },
      "post": {
        "operationId": "market-definition-batch",
        "summary": "Market Definition: batch",
        "description": "Batch twin: the static definition of up to 100 markets in one call, across chains. Response in input order, one slot per market: `{ data }`, the body of the single GET for that market, or `{ error }` for that market alone (unknown pool, malformed address), never `null`. Billed per market.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "description": "Pool / market address",
                          "type": "string"
                        }
                      }
                    },
                    "description": "`[{ \"chain\": \"…\", \"address\": \"…\" }]` - 1 to 100 markets (pool addresses, Uniswap V4 poolIds supported), EVM and Solana mixed freely.",
                    "example": [
                      {
                        "chain": "evm:8453",
                        "address": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
                      },
                      {
                        "chain": "solana",
                        "address": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "evm:8453",
                        "address": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
                      },
                      {
                        "chain": "solana",
                        "address": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pool/data": {
      "get": {
        "operationId": "market-data",
        "summary": "Market Data",
        "description": "Live snapshot of one market, safe to poll at high frequency: last price, per-window volume, liquidity, market cap, circulating + total supply, buys/sells and unique traders per window (5m/1h/6h/24h). Buy/sell tax and the full security fields live on `/v1/token/security`.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "schema": {
              "default": "5m,1h,6h,24h",
              "type": "string",
              "x-default": "5m,1h,6h,24h"
            },
            "in": "query",
            "name": "windows",
            "required": false,
            "description": "Comma-separated stat windows among `5m`, `1h`, `6h`, `24h`. Default: all four, the same default as `/v1/token/stats`.",
            "example": "5m,1h,6h,24h"
          }
        ]
      }
    },
    "/v1/pool/ohlcv": {
      "get": {
        "operationId": "market-candles",
        "summary": "Market Candles",
        "description": "Historical OHLCV for one market, addressed by pool. Same engine and intervals as `/v1/token/ohlcv` (1s to 1M), deep backfill.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "schema": {
              "default": "5m",
              "type": "string",
              "x-default": "5m"
            },
            "in": "query",
            "name": "interval",
            "required": true,
            "description": "1s|5s|15s|30s|1m|3m|5m|15m|30m|1h|2h|4h|6h|12h|1d|1w|1M (default 5m). `1w` buckets are epoch-aligned weeks (Thursday 00:00 UTC to Thursday); `1M` buckets are calendar months (UTC). `7d` and `30d` are accepted aliases; `meta.interval` echoes the canonical key.",
            "example": "5m"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 2000,
              "default": 200,
              "type": "integer",
              "x-default": 300
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Candles per page, 1-2000 (default 200). Honoured whenever the history allows it, however quiet the token is.",
            "example": 300
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "endTime",
            "required": false,
            "description": "Unix seconds, inclusive upper bound (pagination: prev oldestTime - 1); a millisecond value is accepted and normalized. At most 1 day ahead."
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer",
              "x-default": 1755000000
            },
            "in": "query",
            "name": "from",
            "required": false,
            "description": "Unix seconds, inclusive lower bound (scans stop there); a millisecond value is accepted and normalized.",
            "example": 1755000000
          },
          {
            "schema": {
              "default": "native",
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "native"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "usd"
                  ]
                }
              ],
              "x-default": "native"
            },
            "in": "query",
            "name": "quote",
            "required": false,
            "description": "usd converts each candle at its bucket SOL/USD rate (available on Solana); volume follows the quote, volumeToken never does",
            "example": "native"
          },
          {
            "schema": {
              "default": true,
              "type": "boolean",
              "x-default": true
            },
            "in": "query",
            "name": "fill",
            "required": false,
            "description": "Dense time axis (default true): a flat zero-volume candle for every bucket without a trade. `false` returns traded buckets only.",
            "example": true
          }
        ]
      },
      "post": {
        "operationId": "market-candles-batch",
        "summary": "Market Candles: batch",
        "description": "Batch twin: the candles of up to 10 markets (pools) in one call, chains mixable. `interval`, `limit`, `quote` and `fill` are shared by the lot; `endTime` and `from` are per market. Response in input order: each slot is the body of the GET (`data` plus `interval`, `count`, `oldestTime`, `newestTime`, `hasMore`, `nextEndTime`, `pools`), or `{ error: { code, message } }` for that market alone (`NOT_FOUND` for an unknown pool, `INVALID_PARAM` for a malformed address or `quote=usd` outside Solana). A slot is identical to the GET of the same market with the same options. Billed per item.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "items",
                  "interval"
                ],
                "properties": {
                  "items": {
                    "minItems": 1,
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "description": "Pool / market address",
                          "type": "string"
                        },
                        "endTime": {
                          "minimum": 0,
                          "description": "Unix seconds, inclusive upper bound (pagination: prev oldestTime - 1); a millisecond value is accepted and normalized. At most 1 day ahead.",
                          "type": "integer"
                        },
                        "from": {
                          "minimum": 0,
                          "description": "Unix seconds, inclusive lower bound (scans stop there); a millisecond value is accepted and normalized.",
                          "type": "integer"
                        }
                      }
                    },
                    "description": "1 to 10 of `{chain, address, endTime?, from?}`: `address` is the pool / pair address (Uniswap V4 poolIds supported); `endTime` / `from` are unix seconds (a millisecond value is accepted and normalized), per item, so each series paginates on its own.",
                    "example": [
                      {
                        "chain": "evm:8453",
                        "address": "0x0ca6…"
                      },
                      {
                        "chain": "solana",
                        "address": "5zpyut…"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "evm:8453",
                        "address": "0x0ca6…"
                      },
                      {
                        "chain": "solana",
                        "address": "5zpyut…"
                      }
                    ]
                  },
                  "interval": {
                    "default": "5m",
                    "description": "Shared by the lot: 1s|5s|15s|30s|1m|3m|5m|15m|30m|1h|2h|4h|6h|12h|1d|1w|1M (default 5m). `7d` and `30d` are accepted as aliases of `1w` and `1M`; `meta.interval` echoes the canonical key. An unknown interval is refused with `400` for the whole call.",
                    "type": "string",
                    "example": "1h",
                    "x-default": "1h"
                  },
                  "limit": {
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 200,
                    "type": "integer",
                    "description": "Candles per item, 1-2000 (default 200), shared by the lot.",
                    "example": 2,
                    "x-default": 2
                  },
                  "quote": {
                    "default": "native",
                    "description": "`native` (default) or `usd` (Solana), shared by the lot but judged per item: an item on a chain without USD history gets its own `{ error }` slot, the others are served.",
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "native"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "usd"
                        ]
                      }
                    ],
                    "example": "native",
                    "x-default": "native"
                  },
                  "fill": {
                    "default": true,
                    "description": "Dense time axis (default true): a flat zero-volume candle for every bucket without a trade. `false` returns traded buckets only. Shared by the lot.",
                    "type": "boolean",
                    "example": true,
                    "x-default": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pool/top-traders": {
      "get": {
        "operationId": "pool-top-traders",
        "summary": "Market Top Traders",
        "description": "Ranked traders of a single market (pool) over a rolling window: net PnL in native and USD, tokens and native bought/sold, open position, average entry, first/last trade, and dev/sniper/pro-trader badges. Same engine as Token Top Traders, scoped to one pool. EVM and Solana, one shape.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "schema": {
              "default": "1d",
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "1h"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "4h"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "1d"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "7d"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "30d"
                  ]
                }
              ],
              "x-default": "1d"
            },
            "in": "query",
            "name": "timeframe",
            "required": false,
            "description": "Rolling window: `1h`, `4h`, `1d` (default), `7d` or `30d`.",
            "example": "1d"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "pnl"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "bought"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "sold"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "txns"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "sortBy",
            "required": false,
            "description": "`pnl` (default), `bought`, `sold` or `txns`."
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "asc"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "desc"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "order",
            "required": false,
            "description": "`desc` (default) or `asc`."
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "integer",
              "x-default": 2
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-100. Default 20.",
            "example": 2
          }
        ]
      }
    },
    "/v1/pool/trades": {
      "get": {
        "operationId": "market-trades",
        "summary": "Market Trades",
        "description": "Trade tape of one market: recent + historical, time-bounded, cursor pagination, optional participant filter. Each trade carries a stable id, timestamp (ms), price, size, side, maker and tx hash.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x16380ab7951906dd53ca6095d51f091ef2614127"
            },
            "in": "query",
            "name": "maker",
            "required": false,
            "description": "Filter trades by participant address.",
            "example": "0x16380ab7951906dd53ca6095d51f091ef2614127"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "buy"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "sell"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "tradeType",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "usdMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "usdMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "nativeMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "nativeMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "tokenAmountMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "tokenAmountMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer",
              "x-default": 1755000000000
            },
            "in": "query",
            "name": "fromAt",
            "required": false,
            "description": "Unix MILLISECONDS, inclusive lower bound. A value in seconds is rejected (400).",
            "example": 1755000000000
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "toAt",
            "required": false,
            "description": "Unix MILLISECONDS, inclusive upper bound (at most 7 days ahead). A value in seconds is rejected (400)."
          },
          {
            "schema": {
              "type": "string",
              "x-default": "eyJ0IjoxNzU1..."
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Opaque cursor from `meta.nextCursor`.",
            "example": "eyJ0IjoxNzU1..."
          },
          {
            "schema": {
              "default": "desc",
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "asc"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "desc"
                  ]
                }
              ],
              "x-default": "desc"
            },
            "in": "query",
            "name": "sort",
            "required": false,
            "example": "desc"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "washOnly"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "organicOnly"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "washFilter",
            "required": false,
            "description": "Keep only wash-tagged or only organic transactions (solana only)"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 500,
              "default": 100,
              "type": "integer",
              "x-default": 100
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "example": 100
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "required": false,
            "description": "CSV opt-ins: traderTxCounts"
          }
        ]
      }
    },
    "/v1/pools/data": {
      "post": {
        "operationId": "pools-data-batch",
        "summary": "Market Data: batch",
        "description": "The batch twin of Market Data: poll up to 100 markets, across chains, in one request instead of a fan-out of single calls. `windows` applies to every market of the call. Response in input order, one slot per market: the same shape as `/v1/pool/data`, or `{ error: { code, message } }` for that market alone (`NOT_FOUND` for an unknown pool, `INVALID_PARAM` for a malformed address), never `null`, so one bad market never costs you the rest of the lot. Billed per market.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "markets"
                ],
                "properties": {
                  "markets": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "1 to 100 of `{chain, address}` pools, across chains. Billed per market.",
                    "example": [
                      {
                        "chain": "evm:8453",
                        "address": "0x0ca6…"
                      },
                      {
                        "chain": "solana",
                        "address": "58oQCh…"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "evm:8453",
                        "address": "0x0ca6…"
                      },
                      {
                        "chain": "solana",
                        "address": "58oQCh…"
                      }
                    ]
                  },
                  "windows": {
                    "default": "5m,1h,6h,24h",
                    "description": "Comma-separated stat windows among `5m`, `1h`, `6h`, `24h`, applied to every market. Default: all four, the same default as `/v1/pool/data`.",
                    "type": "string",
                    "example": "1h,24h",
                    "x-default": "1h,24h"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pools/sparklines": {
      "post": {
        "operationId": "sparklines-batch",
        "summary": "Market Sparklines",
        "description": "Small native-price arrays for list rows: one call for up to 100 markets, each `{chain, address}` so one lot can span chains. The response is keyed by pool address, oldest to newest. Timeframes 1m|5m|30m|1h|24h|7d. An unknown pool returns `[]` - we never invent data. For token-level sparklines (the best pool resolved for you, curve history stitched in), use `POST /v1/token/sparklines`.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "markets"
                ],
                "properties": {
                  "markets": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "1 to 100 of `{chain, address}` pools, across chains. Billed per market.",
                    "example": [
                      {
                        "chain": "evm:8453",
                        "address": "0x0ca6…"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "evm:8453",
                        "address": "0x0ca6…"
                      }
                    ]
                  },
                  "timeframe": {
                    "default": "24h",
                    "description": "`1m`|`5m`|`30m`|`1h`|`24h`|`7d`. Default `24h`.",
                    "type": "string",
                    "example": "24h",
                    "x-default": "24h"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pools/trades": {
      "post": {
        "operationId": "batch-market-trades",
        "summary": "Batch Market Trades",
        "description": "The tape of up to 200 markets in a single call, since a timestamp - grouped per market, per-market row cap. One request replaces a full polling fan-out.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "markets",
                  "from"
                ],
                "properties": {
                  "markets": {
                    "minItems": 1,
                    "maxItems": 200,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "List of `{chain, address}` pools (up to 200 per call).",
                    "example": [
                      {
                        "chain": "evm:8453",
                        "address": "0x..."
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "evm:8453",
                        "address": "0x..."
                      }
                    ]
                  },
                  "from": {
                    "minimum": 0,
                    "description": "Only trades at/after this time (unix MILLISECONDS, at most 24h back; a value in seconds is rejected with 400). Page the per-market tape for history.",
                    "type": "integer",
                    "example": 1755000000000,
                    "x-default": 1755000000000
                  },
                  "perMarketLimit": {
                    "minimum": 1,
                    "maximum": 500,
                    "default": 100,
                    "type": "integer",
                    "description": "Rows per market (default 100, max 500).",
                    "example": 200,
                    "x-default": 200
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prices/native": {
      "get": {
        "operationId": "native-prices",
        "summary": "Native Prices",
        "description": "Live USD prices of every chain's native coin, with per-symbol freshness (`updatedAt`, `stale`) - you always know how fresh a price is. These are the live rates the spot-priced USD fields of the API use (Solana: the on-chain SOL/USDC rate, refreshed every 10 seconds); Solana trade and candle USD figures use the rate at trade time, see `meta.usdBasis`.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/pulse": {
      "get": {
        "operationId": "pulse",
        "summary": "Token Filters",
        "description": "Axiom-style launchpad lifecycle columns: `new` (created under 24h), `bonding` (active curves, sorted by bonding %), `graduated` (migrated or virtually-graduated, last 7 days). ~90 launchpads tracked natively across 18 EVM chains, bonding thresholds per factory.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "new"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "bonding"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "graduated"
                  ]
                }
              ],
              "x-default": "bonding"
            },
            "in": "query",
            "name": "view",
            "required": true,
            "description": "new | bonding | graduated",
            "example": "bonding"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chains",
            "required": true,
            "description": "CSV of chain ids (≤8).",
            "example": "evm:8453"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 30,
              "type": "integer",
              "x-default": 30
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-100, default 30.",
            "example": 30
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "ageMin",
            "required": false,
            "description": "minutes"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "ageMax",
            "required": false,
            "description": "minutes"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "liquidityMin",
            "required": false,
            "description": "USD"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "liquidityMax",
            "required": false,
            "description": "USD"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "marketCapMin",
            "required": false,
            "description": "USD"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "marketCapMax",
            "required": false,
            "description": "USD"
          },
          {
            "schema": {
              "minimum": 0,
              "maximum": 100,
              "type": "number"
            },
            "in": "query",
            "name": "bondingMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "maximum": 100,
              "type": "number"
            },
            "in": "query",
            "name": "bondingMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "volumeMin",
            "required": false,
            "description": "USD, window = view window"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "volumeMax",
            "required": false,
            "description": "USD"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "txnsMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "txnsMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "feesMin",
            "required": false,
            "description": "USD, lifetime"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "feesMax",
            "required": false,
            "description": "USD, lifetime"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "socials",
            "required": false,
            "description": "CSV: any|twitter|telegram|website"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "factories",
            "required": false,
            "description": "CSV of factory keys (see /v1/meta/factories)"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "isOG",
            "required": false,
            "description": "first token with this ticker on the chain"
          }
        ]
      }
    },
    "/v1/screener": {
      "get": {
        "operationId": "market-screener",
        "summary": "Market Screener",
        "description": "Every tradable market, paginated: filters by chain, sort by trending (relevance), volume, market cap or creation time, per-window stats on every row, cursor pagination. The discovery primitive - poll it to detect new markets.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453,solana"
            },
            "in": "query",
            "name": "chains",
            "required": true,
            "description": "CSV of public chain ids (1-8). sortBy=createdAt serves ONE chain per call (indexed walk) - fan out per chain.",
            "example": "evm:8453,solana"
          },
          {
            "schema": {
              "default": "trending",
              "type": "string",
              "x-default": "trending"
            },
            "in": "query",
            "name": "sortBy",
            "required": false,
            "description": "`trending` (default), `volume`, `marketCap` or `createdAt`. `trending` is the relevance ranking: 24h activity weighted by real participation, so wash-traded markets rank below organically traded ones with the same figures. `volume` is strictly ordered by the gross USD volume of `window` (default 24h: `volume24hUsd` descending). trending/volume/marketCap rank within each chain's own universe (top 300 by 24h volume plus top 100 by 1h volume, named in `meta.universe`).",
            "example": "trending"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "1h"
            },
            "in": "query",
            "name": "window",
            "required": false,
            "description": "Rank window for `sortBy=volume`: `5m`, `1h`, `6h` or `24h` (default `24h`). Not accepted with the other sorts (`trending` is a 24h relevance).",
            "example": "1h"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 30,
              "type": "integer",
              "x-default": 50
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Rows per page (default 30, max 100).",
            "example": 50
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Opaque cursor from `meta.nextCursor`. Pins the computation each page was cut from, so a walk started within the last minute never skips or repeats a market."
          }
        ]
      }
    },
    "/v1/search": {
      "get": {
        "operationId": "token-search",
        "summary": "Token Search",
        "description": "Low-latency token search: exact address (EVM hex, Solana base58, pool addresses) or free-text name/symbol (trigram). Covers BOTH families: `chain=solana` or `chain=evm:<id>` restricts; no chain searches EVM and Solana in parallel and merges by USD liquidity. Results carry price, liquidity, market cap, 24h volume and 1h/24h price change.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "minLength": 1,
              "maxLength": 100,
              "type": "string",
              "x-default": "degen"
            },
            "in": "query",
            "name": "q",
            "required": true,
            "description": "Address or text.",
            "example": "degen"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "chain",
            "required": false,
            "description": "Restrict to one chain."
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 50,
              "default": 12,
              "type": "integer",
              "x-default": 12
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-50, default 12.",
            "example": 12
          }
        ]
      }
    },
    "/v1/token": {
      "get": {
        "operationId": "token-details",
        "summary": "Token Details",
        "description": "Full token snapshot: price (native + USD), market cap & FDV (sanity-capped), liquidity (+ATH), best pool (the token's main market: the deepest of the pools where it is the priced asset, measured on both sides of the pool, the same market as the first row of /v1/token/pools), launchpad state (bonding progress, graduation), deployer, 24h stats, metadata & socials.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address (EVM hex, case-insensitive).",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          }
        ]
      },
      "post": {
        "operationId": "token-details-batch",
        "summary": "Token Details: batch",
        "description": "Full-detail batch twin: up to 25 `{chain, address}` items (EVM and Solana can be mixed in one call), response array in input order with per-item `{error}` slots. Billed per item.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "minItems": 1,
                    "maxItems": 25,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "1 to 25 of `{chain, address}`.",
                    "example": [
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      },
                      {
                        "chain": "evm:8453",
                        "address": "0x4ed4…"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      },
                      {
                        "chain": "evm:8453",
                        "address": "0x4ed4…"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/token/dev-tokens": {
      "get": {
        "operationId": "deployer-track-record",
        "summary": "Deployer Track Record",
        "description": "Every token deployed by a wallet, with a verdict on each (`active`, `migrated`, `rugged`, `abandoned`) and an aggregate risk read on the deployer: totals per status, graduation success rate, risk level, first and last deploy. Pass `address` to evaluate the deployer BEHIND a token (we resolve it), or `wallet` to query a deployer directly.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "solana"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "solana"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "address",
            "required": false,
            "description": "Token address - its deployer is resolved first. Required unless `wallet` is given."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "wallet",
            "required": false,
            "description": "Deployer address, skipping resolution."
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "type": "integer",
              "x-default": 50
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-100. Default 50. `meta.truncated` tells you the stats only describe the returned page.",
            "example": 50
          }
        ]
      }
    },
    "/v1/token/holders": {
      "get": {
        "operationId": "token-holders",
        "summary": "Token Holders",
        "description": "Top holders with position size, share of supply, full PnL (realized + unrealized), buy/sell volumes, behavioral labels and named entities (exchanges, funds - the \"Coinbase\" signal). EVM and Solana.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "type": "integer",
              "x-default": 5
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-100, default 50.",
            "example": 5
          }
        ]
      }
    },
    "/v1/token/metadata": {
      "get": {
        "operationId": "token-metadata",
        "summary": "Token Metadata",
        "description": "Socials, description, images, dex-paid status. POST twin on the same path for batches (≤100, billed per item).",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          }
        ]
      },
      "post": {
        "operationId": "token-metadata-batch",
        "summary": "Token Metadata: batch",
        "description": "Batch twin: the metadata of up to 100 tokens in one call, EVM and Solana mixed freely. Response in input order, one slot per item: `{ data }`, the body of the single GET for that token, or `{ error: { code, message } }` for that item alone (unknown token, malformed address), never `null`, so one bad item never costs you the rest of the lot. Billed per item.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "1 to 100 of `{chain, address}`, across chains.",
                    "example": [
                      {
                        "chain": "evm:8453",
                        "address": "0x4ed4…"
                      },
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "evm:8453",
                        "address": "0x4ed4…"
                      },
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/token/ohlcv": {
      "get": {
        "operationId": "candles-ohlcv",
        "summary": "Candles (OHLCV)",
        "description": "Chart-ready candles from 1s to 1M. Token-wide by default (the pool we price the token from, tracked across a bonding-curve migration), or an explicit set of up to 50 pools. Wick-outlier clamping and candle connecting included. On Base, the forming candle includes preconfirmed (flashblocks) swaps ~2.5s before block commit.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address (EVM hex, case-insensitive).",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "pools",
            "required": false,
            "description": "Optional CSV of pool addresses (≤50) to aggregate; default: the pool we price the token from, tracked across a bonding-curve migration.",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "schema": {
              "default": "5m",
              "type": "string",
              "x-default": "1h"
            },
            "in": "query",
            "name": "interval",
            "required": true,
            "description": "1s|5s|15s|30s|1m|3m|5m|15m|30m|1h|2h|4h|6h|12h|1d|1w|1M (default 5m). `1w` buckets are epoch-aligned weeks (Thursday 00:00 UTC to Thursday, the standard weekly bucket); `1M` buckets are calendar months (1st of the month 00:00 UTC). `7d` and `30d` are accepted as aliases of `1w` and `1M`; `meta.interval` always echoes the canonical key.",
            "example": "1h"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 2000,
              "default": 200,
              "type": "integer",
              "x-default": 24
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Candles per page, 1-2000 (default 200). Honoured whenever the history allows it, however quiet the token is.",
            "example": 24
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "endTime",
            "required": false,
            "description": "Unix seconds, inclusive upper bound (at most 1 day ahead; a millisecond value is accepted and normalized). Paginate back with the previous `meta.oldestTime - 1` while `meta.hasMore` is true."
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "from",
            "required": false,
            "description": "Unix seconds, inclusive lower bound (scans stop there); a millisecond value is accepted and normalized."
          },
          {
            "schema": {
              "default": "native",
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "native"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "usd"
                  ]
                }
              ],
              "x-default": "usd"
            },
            "in": "query",
            "name": "quote",
            "required": false,
            "description": "`native` (default) or `usd` (Solana) - usd converts each candle at its bucket's SOL/USD rate from our in-house minute-grade price history (monthly candles use the median of the month's daily rates). `volume` follows the quote; `volumeToken` (units of the token) is never converted.",
            "example": "usd"
          },
          {
            "schema": {
              "default": true,
              "type": "boolean",
              "x-default": true
            },
            "in": "query",
            "name": "fill",
            "required": false,
            "description": "Dense time axis (default true): a flat zero-volume candle for every bucket without a trade. `false` returns traded buckets only.",
            "example": true
          }
        ]
      },
      "post": {
        "operationId": "candles-ohlcv-batch",
        "summary": "Candles (OHLCV): batch",
        "description": "Batch twin: the candles of up to 10 tokens in one call, chains mixable in the same lot. `interval`, `limit`, `quote` and `fill` are shared by the lot; `endTime`, `from` and `pools` are per token, so every series keeps its own pagination. Response in input order: each slot is the body of the GET (`data` plus its own `interval`, `count`, `oldestTime`, `newestTime`, `hasMore`, `nextEndTime`, `pools`), or `{ error: { code, message } }` for that token alone (unknown token, malformed address, `quote=usd` on a chain without USD history). A bad item never costs you the rest of the lot. Billed per item.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "items",
                  "interval"
                ],
                "properties": {
                  "items": {
                    "minItems": 1,
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "description": "Token address",
                          "type": "string"
                        },
                        "pools": {
                          "description": "CSV of pool addresses (≤50); default = the pool we price the token from",
                          "type": "string"
                        },
                        "endTime": {
                          "minimum": 0,
                          "description": "Unix seconds, inclusive upper bound (pagination: prev oldestTime - 1); a millisecond value is accepted and normalized. At most 1 day ahead.",
                          "type": "integer"
                        },
                        "from": {
                          "minimum": 0,
                          "description": "Unix seconds, inclusive lower bound (scans stop there); a millisecond value is accepted and normalized.",
                          "type": "integer"
                        }
                      }
                    },
                    "description": "1 to 10 of `{chain, address, pools?, endTime?, from?}`. `pools`: optional CSV of up to 50 pool addresses to aggregate (default: the pool we price the token from, tracked across a bonding-curve migration). `endTime` / `from`: unix seconds (a millisecond value is accepted and normalized), per item, so each series paginates on its own with the `oldestTime - 1` of its slot.",
                    "example": [
                      {
                        "chain": "evm:8453",
                        "address": "0x4ed4…"
                      },
                      {
                        "chain": "solana",
                        "address": "DezXAZ…",
                        "endTime": 1788976800
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "evm:8453",
                        "address": "0x4ed4…"
                      },
                      {
                        "chain": "solana",
                        "address": "DezXAZ…",
                        "endTime": 1788976800
                      }
                    ]
                  },
                  "interval": {
                    "default": "5m",
                    "description": "Shared by the lot: 1s|5s|15s|30s|1m|3m|5m|15m|30m|1h|2h|4h|6h|12h|1d|1w|1M (default 5m). `7d` and `30d` are accepted as aliases of `1w` and `1M`; `meta.interval` echoes the canonical key. An unknown interval is refused with `400` for the whole call.",
                    "type": "string",
                    "example": "1h",
                    "x-default": "1h"
                  },
                  "limit": {
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 200,
                    "type": "integer",
                    "description": "Candles per item, 1-2000 (default 200), shared by the lot.",
                    "example": 2,
                    "x-default": 2
                  },
                  "quote": {
                    "default": "native",
                    "description": "`native` (default) or `usd` (Solana), shared by the lot but judged per item: an item on a chain without USD history gets its own `{ error }` slot, the others are served.",
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "native"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "usd"
                        ]
                      }
                    ],
                    "example": "native",
                    "x-default": "native"
                  },
                  "fill": {
                    "default": true,
                    "description": "Dense time axis (default true): a flat zero-volume candle for every bucket without a trade. `false` returns traded buckets only. Shared by the lot.",
                    "type": "boolean",
                    "example": true,
                    "x-default": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/token/pools": {
      "get": {
        "operationId": "token-pools",
        "summary": "Token Pools",
        "description": "The markets of a token - rank 1 is the exact pool the token endpoint prices from, then every other market ranked by 24h volume and liquidity.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address (EVM hex, case-insensitive).",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "type": "integer",
              "x-default": 50
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-100, default 50.",
            "example": 50
          }
        ]
      }
    },
    "/v1/token/price": {
      "get": {
        "operationId": "token-price-lean",
        "summary": "Token Price",
        "description": "Cheap price tier for bots and tickers: price, market cap, liquidity. Nothing else.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address (EVM hex, case-insensitive).",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          }
        ]
      },
      "post": {
        "operationId": "token-price-batch",
        "summary": "Token Price: batch",
        "description": "Batch twin - up to 100 tokens in one call, one SQL round-trip. Response in input order; missing tokens come back as per-item `{error}` slots.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "[{chain, address}] - max 100."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/token/security": {
      "get": {
        "operationId": "token-security",
        "summary": "Token Security",
        "description": "Per-family security fields. Solana: mint/freeze authority state (on-chain truth). EVM: holders count, top-10 concentration (CEX-custody excluded), dev/snipers/bundlers holdings %, token burn %, buy/sell/transfer tax (on-chain simulation), dexPaid. null always means unknown, never a fake zero.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "solana"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id (`solana`: LP burn and lock analysis is served on Solana).",
            "example": "solana"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token mint (base58, case-sensitive).",
            "example": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
          }
        ]
      },
      "post": {
        "operationId": "token-security-batch",
        "summary": "Token Security: batch",
        "description": "Per-family security fields. Solana: mint/freeze authority state (on-chain truth). EVM: holders count, top-10 concentration (CEX-custody excluded), dev/snipers/bundlers holdings %, token burn %, buy/sell/transfer tax (on-chain simulation), dexPaid. null always means unknown, never a fake zero.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Up to 100 of `{chain, address}`, across chains. Response array is in input order with per-item `{error}` slots. Billed per item.",
                    "example": [
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/token/sparklines": {
      "post": {
        "operationId": "token-sparklines",
        "summary": "Token Sparklines",
        "description": "Small native-price arrays for token list rows: one call for up to 100 tokens on one chain. We resolve each token's best pool for you and stitch bonding-curve history onto it, so a freshly graduated token draws one continuous line. The response is keyed by token address, oldest to newest. Timeframes 1m|5m|30m|1h|24h|7d. An unknown token returns `[]` - we never invent data. To spark specific pools, across chains, use `POST /v1/pools/sparklines`.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "chain"
                ],
                "properties": {
                  "chain": {
                    "type": "string",
                    "description": "Public chain id - `evm:<id>` or `solana`. One chain per call.",
                    "example": "evm:8453",
                    "x-default": "evm:8453"
                  },
                  "tokens": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "1 to 100 token addresses on `chain`. Billed per token.",
                    "example": [
                      "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
                    ],
                    "x-default": [
                      "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
                    ]
                  },
                  "pools": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "timeframe": {
                    "default": "24h",
                    "description": "`1m`|`5m`|`30m`|`1h`|`24h`|`7d`. Default `24h`.",
                    "type": "string",
                    "example": "24h",
                    "x-default": "24h"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/token/stats": {
      "get": {
        "operationId": "token-stats-windowed",
        "summary": "Token Stats",
        "description": "Windowed volume, buy/sell counts and volumes, price change - 5m/1h/6h/24h in one call.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "pools",
            "required": false,
            "description": "Optional CSV of pool addresses (≤50) to restrict the windows to; default token-wide (every pool of the token).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "schema": {
              "default": "5m,1h,6h,24h",
              "type": "string",
              "x-default": "5m,1h,6h,24h"
            },
            "in": "query",
            "name": "windows",
            "required": false,
            "description": "Comma-separated stat windows among `5m`, `1h`, `6h`, `24h`. Default: all four, the same default as `/v1/pool/data`.",
            "example": "5m,1h,6h,24h"
          }
        ]
      },
      "post": {
        "operationId": "token-stats-batch",
        "summary": "Token Stats: batch",
        "description": "Batch twin: the windowed stats of up to 25 tokens in one call, EVM and Solana mixed freely. `windows` applies to the whole call, `pools` is per token. Response in input order, one slot per token: `{ data }`, the body of the single GET for that token, or `{ error }` for that token alone, never `null`. Billed per token.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "minItems": 1,
                    "maxItems": 25,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "description": "Token address",
                          "type": "string"
                        },
                        "pools": {
                          "description": "CSV of pool addresses (≤50) to scope the stats. OMIT for token-wide stats across every pool (Mobula-aligned default).",
                          "type": "string"
                        }
                      }
                    },
                    "description": "`[{ \"chain\": \"…\", \"address\": \"…\", \"pools\": \"…\" }]` - 1 to 25 tokens, EVM and Solana mixed freely; `pools` optional per token (CSV of up to 50 pool addresses of that token; omit for token-wide).",
                    "example": [
                      {
                        "chain": "evm:8453",
                        "address": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
                      },
                      {
                        "chain": "solana",
                        "address": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263",
                        "pools": "5zpyutJu9ee6jFymDGoK7F6S5Kczqtc9FomP3ueKuyA9"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "evm:8453",
                        "address": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
                      },
                      {
                        "chain": "solana",
                        "address": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263",
                        "pools": "5zpyutJu9ee6jFymDGoK7F6S5Kczqtc9FomP3ueKuyA9"
                      }
                    ]
                  },
                  "windows": {
                    "default": "5m,1h,6h,24h",
                    "description": "Same as the GET, applied to every token: comma-separated windows among `5m`, `1h`, `6h`, `24h`. Default: all four.",
                    "type": "string",
                    "example": "1h,24h",
                    "x-default": "1h,24h"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/token/top-traders": {
      "get": {
        "operationId": "token-top-traders",
        "summary": "Token Top Traders",
        "description": "Ranked traders of a token, from our own PnL fold (per wallet and token): realized PnL in native and USD, tokens bought/sold, open position, average entry, win rate over closed positions, first/last trade. Lifetime by default (`timeframe=all`), or any rolling window from `1h` to `30d`. Default sort is `pnl` on both families; `sortBy` accepts `pnl`, `bought`, `sold` or `txns`.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address."
          },
          {
            "schema": {
              "default": "all",
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "all"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "1h"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "4h"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "1d"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "7d"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "30d"
                  ]
                }
              ],
              "x-default": "all"
            },
            "in": "query",
            "name": "timeframe",
            "required": false,
            "description": "`all` (default) ranks over the token's lifetime; `1h`, `4h`, `1d`, `7d` or `30d` ranks over a rolling window. On a window, `realizedPnlNative` is the net native cashflow over the window and `winRatePct` is `null`.",
            "example": "all"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "pnl"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "bought"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "sold"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "txns"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "sortBy",
            "required": false,
            "description": "`pnl` (default), `bought`, `sold` or `txns`."
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "asc"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "desc"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "order",
            "required": false,
            "description": "`desc` (default) or `asc`."
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "integer",
              "x-default": 20
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-100. Default 20.",
            "example": 20
          }
        ]
      }
    },
    "/v1/token/trades": {
      "get": {
        "operationId": "trades-tape",
        "summary": "Trades Tape",
        "description": "Real-time trade tape. `maker` is the trader behind the swap, resolved through relays, solvers and smart accounts, with isProTrader/isSniper badges on every row. On Base, preconfirmed (flashblocks) trades appear ~2.5s before block commit, flagged per row. Filters: side, USD/native/token amount ranges, date range, makers (POST twin, up to 2000). Cursor pagination.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "pools",
            "required": false,
            "description": "Optional CSV of pool addresses (≤50) to restrict the tape; default token-wide (every pool of the token).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "buy"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "sell"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "tradeType",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "usdMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "usdMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "nativeMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "nativeMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "tokenAmountMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "tokenAmountMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "fromAt",
            "required": false,
            "description": "Unix MILLISECONDS, inclusive lower bound. A value in seconds is rejected (400)."
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "toAt",
            "required": false,
            "description": "Unix MILLISECONDS, inclusive upper bound (at most 7 days ahead). A value in seconds is rejected (400)."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Opaque - from meta.nextCursor."
          },
          {
            "schema": {
              "default": "desc",
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "asc"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "desc"
                  ]
                }
              ],
              "x-default": "desc"
            },
            "in": "query",
            "name": "sort",
            "required": false,
            "example": "desc"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "washOnly"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "organicOnly"
                  ]
                }
              ],
              "x-default": "organicOnly"
            },
            "in": "query",
            "name": "washFilter",
            "required": false,
            "description": "`washOnly` or `organicOnly` - filter by the per-transaction wash badge (solana; every row carries `isWash`).",
            "example": "organicOnly"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 500,
              "default": 100,
              "type": "integer",
              "x-default": 3
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-500, default 100.",
            "example": 3
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "required": false,
            "description": "Opt-ins: traderTxCounts."
          }
        ]
      },
      "post": {
        "operationId": "trades-tape",
        "summary": "Trades Tape: makers filter",
        "description": "The same tape as the GET, taken as a JSON body: use it to filter by `makers[]` (up to 2000 trader addresses, far beyond what a URL can carry) or to send a long filter set. Same filters, same rows, same cursor pagination. One token per call, billed as one request whatever the number of makers: this is a filter variant, not a batch.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "chain",
                  "address"
                ],
                "properties": {
                  "chain": {
                    "type": "string",
                    "description": "Public chain id - `evm:<id>` or `solana`.",
                    "example": "evm:8453",
                    "x-default": "evm:8453"
                  },
                  "address": {
                    "type": "string",
                    "description": "Token address.",
                    "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed",
                    "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
                  },
                  "pools": {
[...]
