{
  "openapi": "3.1.0",
  "info": {
    "title": "Serialized Data API",
    "description": "On-chain data for trading apps - tokens, candles, token filters. Built on our own indexers. 18 EVM chains + Solana, live.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.serialized.xyz"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "x-default": "sd_live_eyJrIjoiODNkMGM4MWI4ZDk2IiwidCI6Im9wZW5hcGktZG9jcyIsInAiOiJmcmVlIiwiaWF0IjoxNzg4NDI4NDY3fQ.3FMGyHyDqzSKU7TylKuBRKdiFIy3doL9If9I6vyB0KM"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/v1/audit/chains": {
      "get": {
        "operationId": "audit-coverage",
        "summary": "Audit Coverage",
        "description": "Chains covered by the audit engine.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/audit/contract": {
      "get": {
        "operationId": "contract-audit",
        "summary": "Contract Audit",
        "description": "Full Serialized Audit verdict for a contract: safety verdict, vulnerabilities, ownership/renounce state, proxy detection, open-source status. Async-first: an already-audited token answers inline; a new one starts the audit and returns a progress status to re-poll.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` (audit covers EVM only).",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "description": "Token/contract address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          }
        ]
      }
    },
    "/v1/meta/chains": {
      "get": {
        "operationId": "chains",
        "summary": "Chains",
        "description": "Supported chains with status. Free.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/pool": {
      "get": {
        "operationId": "market-definition",
        "summary": "Market Definition",
        "description": "Static definition of one market (pool): venue/type, launchpad/factory of origin, fee tier (bps), base & quote token metadata, price, liquidity, launchpad + bonding state, created-at. Slow-changing, cache-friendly. A market id is simply chain + pool address: stable, unique on its venue, never reused.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          }
        ]
      }
    },
    "/v1/pool/data": {
      "get": {
        "operationId": "market-data",
        "summary": "Market Data",
        "description": "Live snapshot of one market, safe to poll at high frequency: price (native + USD), liquidity, market cap, circulating + total supply, and per-window volume, buy/sell counts and volumes, unique traders, fees and price change (5m / 1h / 24h). One call per market poll.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "name": "windows",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated stat windows: `5m`, `1h`, `6h`, `24h`. Default `5m,1h,24h`."
          }
        ]
      }
    },
    "/v1/pool/ohlcv": {
      "get": {
        "operationId": "market-candles",
        "summary": "Market Candles",
        "description": "Historical OHLCV for one market, addressed by pool. Same engine, intervals (1s to 1M) and candle shape as `/v1/token/ohlcv` - here the pool IS the market (no curve stitching, no aggregation), for exact per-market charts.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported; Solana base58, case-sensitive).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "5m"
            },
            "description": "1s|5s|15s|30s|1m|3m|5m|15m|30m|1h|2h|4h|6h|12h|1d|1w|1M (default 5m).",
            "example": "5m"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 300
            },
            "description": "Max candles per page (default 200, max 500).",
            "example": 300
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 1786716000
            },
            "description": "Unix seconds, inclusive upper bound. Paginate back with prev `meta.oldestTime - 1` while `meta.hasMore` (or with `meta.nextEndTime` when present).",
            "example": 1786716000
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 1755000000
            },
            "description": "Window start (unix SECONDS, inclusive - candle timestamps are TradingView-style seconds).",
            "example": 1755000000
          },
          {
            "name": "quote",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "usd"
            },
            "description": "`native` (default) or `usd` (Solana).",
            "example": "usd"
          },
          {
            "name": "fill",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "x-default": true
            },
            "description": "Gap-fill empty buckets with flat candles for a dense time axis (default `false`).",
            "example": true
          }
        ]
      }
    },
    "/v1/pool/top-traders": {
      "get": {
        "operationId": "pool-top-traders",
        "summary": "Market Top Traders",
        "description": "Ranked traders of a single market (pool) over a rolling window: net native PnL, tokens and native bought/sold, open position, average entry, first/last trade, and dev/sniper/pro-trader badges. Same engine as token top traders, scoped to one pool.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Rolling window: `1h`, `4h`, `1d` (default), `7d`, `30d`."
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`pnl` (default), `bought`, `sold`, or `txns`."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`asc` or `desc`. Default: `desc`."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "1-100. Default 20."
          }
        ]
      }
    },
    "/v1/pool/trades": {
      "get": {
        "operationId": "market-trades",
        "summary": "Market Trades",
        "description": "Trade tape of one market, addressed by pool: recent + historical, time-bounded, opaque cursor pagination, optional participant filter. Same row shape and filters as `/v1/token/trades` - a page here equals `/v1/token/trades?pools=<this pool>`.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported; Solana base58, case-sensitive).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "name": "maker",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "0x16380ab7951906dd53ca6095d51f091ef2614127"
            },
            "description": "Filter trades by a single participant address.",
            "example": "0x16380ab7951906dd53ca6095d51f091ef2614127"
          },
          {
            "name": "tradeType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`buy` or `sell`."
          },
          {
            "name": "usdMin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "x-default": 100
            },
            "description": "Keep trades whose USD volume is at least this (also `usdMax`, `nativeMin`, `nativeMax`, `tokenAmountMin`, `tokenAmountMax`).",
            "example": 100
          },
          {
            "name": "fromAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 1755000000000
            },
            "description": "Only trades at/after this time (epoch ms, inclusive). `toAt` bounds the other end.",
            "example": 1755000000000
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`desc` (default, newest first) or `asc`."
          },
          {
            "name": "washFilter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`washOnly` or `organicOnly` (Solana; every row carries `isWash`)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "1-500, default 100."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "e1:eyJ0IjoxNzU1..."
            },
            "description": "Opaque - pass `meta.nextCursor` back verbatim to page.",
            "example": "e1:eyJ0IjoxNzU1..."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "CSV opt-ins. `traderTxCounts` adds each row's `makerTxCount`."
          }
        ]
      }
    },
    "/v1/pools/data": {
      "post": {
        "operationId": "pools-data-batch",
        "summary": "Market Data: batch",
        "description": "Live snapshot of up to 100 markets in one call - the whole market-poll fan-out in a single request. Per-market shape identical to /v1/pool/data. Response is in input order, unknown markets slot in as null. Billed per market.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "markets": {
                    "type": "array",
                    "items": {},
                    "description": "Up to 100 of `{chain, address}`. Response array is in input order; an unknown market is `null`. Billed per market.",
                    "example": [
                      {
                        "chain": "evm:8453",
                        "address": "0x..."
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "evm:8453",
                        "address": "0x..."
                      }
                    ]
                  },
                  "windows": {
                    "type": "string",
                    "description": "Comma-separated stat windows: `5m`, `1h`, `6h`, `24h`. Default `5m,1h,24h`."
                  }
                },
                "required": [
                  "markets"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/pools/sparklines": {
      "post": {
        "operationId": "sparklines-batch",
        "summary": "Market Sparklines",
        "description": "Small native-price arrays for list rows - one call for up to 100 markets, cross-chain, keyed by pool. Timeframes 1m|5m|30m|1h|24h|7d. Missing pools return [] - we never invent data.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "markets": {
                    "type": "array",
                    "items": {},
                    "description": "List of `{chain, address}` pools (up to 100 per call, cross-chain). Billing is per market; a missing pool returns `[]`.",
                    "example": [
                      {
                        "chain": "evm:8453",
                        "address": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "evm:8453",
                        "address": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
                      }
                    ]
                  },
                  "timeframe": {
                    "type": "string",
                    "description": "`1m`|`5m`|`30m`|`1h`|`24h`|`7d` (default `24h`).",
                    "example": "24h",
                    "x-default": "24h"
                  }
                },
                "required": [
                  "markets"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/pools/trades": {
      "post": {
        "operationId": "batch-market-trades",
        "summary": "Batch Market Trades",
        "description": "The tape of up to 200 markets in a single call, since a timestamp - grouped per market, with a per-market row cap. One request replaces a full polling fan-out. Cross-chain; billed per market.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "markets": {
                    "type": "array",
                    "items": {},
                    "description": "List of `{chain, address}` pools (up to 200 per call, cross-chain). Billing is per market.",
                    "example": [
                      {
                        "chain": "evm:8453",
                        "address": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "evm:8453",
                        "address": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
                      }
                    ]
                  },
                  "from": {
                    "type": "integer",
                    "description": "Only trades at/after this time (epoch ms, inclusive) - at most 24h back.",
                    "example": 1786718000000,
                    "x-default": 1786718000000
                  },
                  "perMarketLimit": {
                    "type": "integer",
                    "description": "Rows per market (default 100, max 500).",
                    "example": 200,
                    "x-default": 200
                  }
                },
                "required": [
                  "markets",
                  "from"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/prices/native": {
      "get": {
        "operationId": "native-prices",
        "summary": "Native Prices",
        "description": "Live USD prices of every chain's native coin, with per-symbol freshness (`updatedAt`, `stale`) - you always know how fresh a price is.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/pulse": {
      "get": {
        "operationId": "pulse",
        "summary": "Token Filters",
        "description": "Axiom-style launchpad lifecycle columns: `new` (created under 24h), `bonding` (active curves, sorted by bonding %), `graduated` (migrated or virtually-graduated, last 7 days). ~90 launchpads tracked natively across 18 EVM chains, bonding thresholds per factory.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "bonding"
            },
            "description": "new | bonding | graduated",
            "example": "bonding"
          },
          {
            "name": "chains",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453,solana"
            },
            "description": "CSV of chain ids (≤8), EVM and Solana mixable.",
            "example": "evm:8453,solana"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "1-100, default 30."
          }
        ]
      }
    },
    "/v1/screener": {
      "get": {
        "operationId": "market-screener",
        "summary": "Market Screener",
        "description": "Every tradable market, paginated: filters by chain and token, sort by volume, market cap or creation time, cursor pagination. The discovery primitive - poll it to detect new markets.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chains",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453,solana"
            },
            "description": "CSV of public chain ids (1-8). sortBy=createdAt serves ONE chain per call (indexed walk) - fan out per chain.",
            "example": "evm:8453,solana"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "createdAt"
            },
            "description": "`volume` (default), `marketCap` or `createdAt`. volume/marketCap rank within the top-1000-by-24h-volume universe (`meta.universe`).",
            "example": "createdAt"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 50
            },
            "description": "Rows per page (default 30, max 100).",
            "example": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "eyJvIjozMH0"
            },
            "description": "Opaque cursor from `meta.nextCursor`.",
            "example": "eyJvIjozMH0"
          }
        ]
      }
    },
    "/v1/search": {
      "get": {
        "operationId": "token-search",
        "summary": "Token Search",
        "description": "Low-latency token search: exact address (EVM hex, Solana base58, pool addresses) or free-text name/symbol (trigram). Covers BOTH families: `chain=solana` or `chain=evm:<id>` restricts; no chain searches EVM and Solana in parallel and merges by USD liquidity. Results carry price, liquidity, market cap, 24h volume and 1h/24h price change.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "degen"
            },
            "description": "Address or text.",
            "example": "degen"
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to one chain."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "1-50, default 12."
          }
        ]
      }
    },
    "/v1/token": {
      "post": {
        "operationId": "token-details-batch",
        "summary": "Token Details: batch",
        "description": "Full-detail batch twin: up to 25 `{chain, address}` items (EVM and Solana can be mixed in one call), response array in input order with per-item `{error}` slots. Billed per item.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {},
                    "description": "1 to 25 of `{chain, address}`.",
                    "example": [
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      },
                      {
                        "chain": "evm:8453",
                        "address": "0x4ed4…"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      },
                      {
                        "chain": "evm:8453",
                        "address": "0x4ed4…"
                      }
                    ]
                  }
                },
                "required": [
                  "items"
                ]
              }
            }
          }
        }
      },
      "get": {
        "operationId": "token-details",
        "summary": "Token Details",
        "description": "Full token snapshot: price (native + USD), market cap & FDV (sanity-capped), liquidity (+ATH), best pool (canonical priority ranking), launchpad state (bonding progress, graduation), deployer, 24h stats, metadata & socials.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "description": "Token address (EVM hex, case-insensitive).",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          }
        ]
      }
    },
    "/v1/token/dev-tokens": {
      "get": {
        "operationId": "deployer-track-record",
        "summary": "Deployer Track Record",
        "description": "Every token deployed by a wallet, with a verdict on each (`active`, `migrated`, `rugged`, `abandoned`) and an aggregate risk read on the deployer: totals per status, graduation success rate, risk level, first and last deploy. Pass `address` to evaluate the deployer BEHIND a token (we resolve it), or `wallet` to query a deployer directly.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "solana"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "solana"
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token address - its deployer is resolved first. Required unless `wallet` is given."
          },
          {
            "name": "wallet",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Deployer address, skipping resolution."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "1-100. Default 50."
          }
        ]
      }
    },
    "/v1/token/holders": {
      "get": {
        "operationId": "token-holders",
        "summary": "Token Holders",
        "description": "Top holders with position size, share of supply, full PnL (realized + unrealized), buy/sell volumes, behavioral labels and named entities (exchanges, funds - the \"Coinbase\" signal). EVM and Solana.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "description": "Token address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 5
            },
            "description": "1-100, default 50.",
            "example": 5
          }
        ]
      }
    },
    "/v1/token/metadata": {
      "get": {
        "operationId": "token-metadata",
        "summary": "Token Metadata",
        "description": "Socials, description, images, dex-paid status. POST twin on the same path for batches (≤100, billed per item).",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id.",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "description": "Token address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          }
        ]
      }
    },
    "/v1/token/ohlcv": {
      "get": {
        "operationId": "candles-ohlcv",
        "summary": "Candles (OHLCV)",
        "description": "Chart-ready candles from 1s to 1M. Token-wide by default (the pool we price the token from, tracked across a bonding-curve migration and stitched into one continuous series), or aggregate an explicit set of up to 50 pools. Wick-outlier clamping and candle connecting included. On Base, the forming candle folds preconfirmed (flashblocks) swaps ~2.5s before block commit.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "description": "Token address (EVM hex, case-insensitive; Solana base58, case-sensitive).",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "name": "pools",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "description": "Optional. CSV of pool addresses (≤50) to aggregate. Omit for the token-wide default (best pool, tracked across migration, curve history stitched in). Each pool listed must belong to the token.",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "1h"
            },
            "description": "1s|5s|15s|30s|1m|3m|5m|15m|30m|1h|2h|4h|6h|12h|1d|1w|1M (default 5m). `1w`=7d, `1M`=30d, epoch-aligned.",
            "example": "1h"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 24
            },
            "description": "1-500, default 200.",
            "example": 24
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 1786716000
            },
            "description": "Unix seconds, inclusive upper bound. Paginate back with prev `meta.oldestTime - 1` while `meta.hasMore` (or with `meta.nextEndTime` when present).",
            "example": 1786716000
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 1755000000
            },
            "description": "Unix seconds, inclusive lower bound - scans stop there.",
            "example": 1755000000
          },
          {
            "name": "quote",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "usd"
            },
            "description": "`native` (default) or `usd` (Solana) - `usd` converts each candle at its bucket's SOL/USD rate from our in-house minute-grade price history.",
            "example": "usd"
          },
          {
            "name": "fill",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "x-default": true
            },
            "description": "Gap-fill empty buckets with flat candles for a dense time axis (default `false`).",
            "example": true
          }
        ]
      }
    },
    "/v1/token/pools": {
      "get": {
        "operationId": "token-pools",
        "summary": "Token Pools",
        "description": "Every market of a token, ranked by our canonical pool priority - rank 1 is the exact pool the token endpoint prices from.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "description": "Token address (EVM hex, case-insensitive).",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "1-100, default 50."
          }
        ]
      }
    },
    "/v1/token/price": {
      "post": {
        "operationId": "token-price-batch",
        "summary": "Token Price: batch",
        "description": "Batch twin - up to 100 tokens in one call, one SQL round-trip. Response in input order; missing tokens come back as per-item `{error}` slots.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {},
                    "description": "[{chain, address}] - max 100."
                  }
                },
                "required": [
                  "items"
                ]
              }
            }
          }
        }
      },
      "get": {
        "operationId": "token-price-lean",
        "summary": "Token Price",
        "description": "Cheap price tier for bots and tickers: price, market cap, liquidity. Nothing else.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "description": "Token address (EVM hex, case-insensitive).",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          }
        ]
      }
    },
    "/v1/token/security": {
      "post": {
        "operationId": "token-security-batch",
        "summary": "Token Security: batch",
        "description": "Security fields for up to 500 tokens in one call, one union shape across EVM and Solana: mint/freeze authority state, holders count, top-10 concentration, dev/sniper/bundler holdings %, token burn, LP burn/lock, buy/sell/transfer tax, dexPaid + dexPaidAt. Billed per item. null always means unknown, never a fake zero.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {},
                    "description": "Up to 500 of `{chain, address}`. Response array is in input order with per-item `{error}` slots. Billed per item.",
                    "example": [
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      }
                    ]
                  }
                },
                "required": [
                  "items"
                ]
              }
            }
          }
        }
      },
      "get": {
        "operationId": "token-security",
        "summary": "Token Security",
        "description": "Security fields for any token in one union shape: mint/freeze authority state, holders count, top-10 concentration (CEX-custody excluded), dev/sniper/bundler holdings %, token burn, LP burn/lock, buy/sell/transfer tax, and dexPaid + dexPaidAt. EVM and Solana. null always means unknown, never a fake zero.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "solana"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "solana"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
            },
            "description": "Token address (base58 mint on Solana, case-sensitive; `0x…` on EVM).",
            "example": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
          }
        ]
      }
    },
    "/v1/token/sparklines": {
      "post": {
        "operationId": "token-sparklines",
        "summary": "Token Sparklines",
        "description": "Small native-price arrays for token list rows - one call for up to 100 tokens on a chain. We resolve each token's best pool (curve history stitched in) and return one line per token. Timeframes 1m|5m|30m|1h|24h|7d. Unknown tokens return [] - we never invent data.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chain": {
                    "type": "string",
                    "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
                    "example": "evm:8453",
                    "x-default": "evm:8453"
                  },
                  "tokens": {
                    "type": "array",
                    "items": {},
                    "description": "Token addresses (up to 100, same chain). Billing is per token; an unknown token returns `[]`.",
                    "example": [
                      "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
                    ],
                    "x-default": [
                      "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
                    ]
                  },
                  "timeframe": {
                    "type": "string",
                    "description": "`1m`|`5m`|`30m`|`1h`|`24h`|`7d` (default `24h`).",
                    "example": "24h",
                    "x-default": "24h"
                  }
                },
                "required": [
                  "chain",
                  "tokens"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/token/stats": {
      "get": {
        "operationId": "token-stats-windowed",
        "summary": "Token Stats",
        "description": "Windowed volume, buy/sell counts and volumes, transactions and price change - 5m/1h/6h/24h in one call. Token-wide across every pool by default.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "description": "Token address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "name": "pools",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "CSV of pool addresses (≤50) to scope the stats to specific markets. **Omit for token-wide stats across every pool** - the default, and what a single token figure should be. Every pool passed must belong to the token, or the request is rejected with 400."
          },
          {
            "name": "windows",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "CSV of `5m`|`1h`|`6h`|`24h`. Default: all four."
          }
        ]
      }
    },
    "/v1/token/top-traders": {
      "get": {
        "operationId": "token-top-traders",
        "summary": "Token Top Traders",
        "description": "Ranked traders of a token from our own PnL fold: realized PnL in native and USD, tokens and native bought/sold, open position, average entry, win rate over closed positions, first/last trade, and dev/sniper/pro-trader badges. Lifetime by default, or any rolling window (1h → 30d).",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x3c5cd672b204ba0fc48e93b98c0922920a87912d"
            },
            "description": "Token address.",
            "example": "0x3c5cd672b204ba0fc48e93b98c0922920a87912d"
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`all` (default, lifetime) or a rolling window: `1h`, `4h`, `1d`, `7d`, `30d`."
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`pnl` (default), `bought`, `sold`, or `txns`."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`asc` or `desc`. Default: `desc`."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "1-100. Default 20."
          }
        ]
      }
    },
    "/v1/token/trades": {
      "get": {
        "operationId": "trades-tape",
        "summary": "Trades Tape",
        "description": "Real-time trade tape, token-wide by default or restricted to specific pools. `maker` is the REAL trader (relay/solver-resolved), with isProTrader/isSniper badges on every row and isWash on Solana. On Base, preconfirmed (flashblocks) trades appear ~2.5s before block commit, flagged per row. Rich filters (side, USD/native/token size, date range, makers) and opaque cursor pagination.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "description": "Token address (EVM hex, case-insensitive; Solana base58, case-sensitive).",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "name": "pools",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "description": "Optional. CSV of pool addresses (≤50) restricting the scope. Omit for the token-wide default (every pool of the token). Each pool listed must belong to the token.",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "name": "tradeType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "buy"
            },
            "description": "`buy` or `sell`.",
            "example": "buy"
          },
          {
            "name": "usdMin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "x-default": 100
            },
            "description": "Keep trades whose USD volume is at least this.",
            "example": 100
          },
          {
            "name": "usdMax",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Keep trades whose USD volume is at most this."
          },
          {
            "name": "nativeMin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Keep trades whose native-quote volume is at least this."
          },
          {
            "name": "nativeMax",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Keep trades whose native-quote volume is at most this."
          },
          {
            "name": "tokenAmountMin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Keep trades of at least this many tokens."
          },
          {
            "name": "tokenAmountMax",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Keep trades of at most this many tokens."
          },
          {
            "name": "fromAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 1755000000000
            },
            "description": "Only trades at/after this time (epoch ms, inclusive).",
            "example": 1755000000000
          },
          {
            "name": "toAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Only trades at/before this time (epoch ms, inclusive)."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "desc"
            },
            "description": "`desc` (default, newest first) or `asc`.",
            "example": "desc"
          },
          {
            "name": "washFilter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "organicOnly"
            },
            "description": "`washOnly` or `organicOnly` - filter by the per-transaction wash badge (Solana; every row carries `isWash`).",
            "example": "organicOnly"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 3
            },
            "description": "1-500, default 100.",
            "example": 3
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "e1:eyJ0IjoxNzg2..."
            },
            "description": "Opaque - pass `meta.nextCursor` back verbatim to page.",
            "example": "e1:eyJ0IjoxNzg2..."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "traderTxCounts"
            },
            "description": "CSV opt-ins. `traderTxCounts` adds each row's `makerTxCount` (that trader's tx count within the page's time window).",
            "example": "traderTxCounts"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "makers": {
                    "type": "array",
                    "items": {},
                    "description": "POST only. Filter to these trader addresses (up to 2000).",
                    "example": [
                      "0x95d955179a7cd45aeef394ed39f6a8d8b1bd1e09"
                    ],
                    "x-default": [
                      "0x95d955179a7cd45aeef394ed39f6a8d8b1bd1e09"
                    ]
                  }
                },
                "required": []
              }
            }
          }
        }
      }
    },
    "/v1/wallet/closed-positions": {
      "get": {
        "operationId": "wallet-closed-positions",
        "summary": "Wallet Closed Positions",
        "description": "Every position a wallet has fully exited: total bought and sold (USD and native), realized PnL in absolute and percent, buy/sell counts and last trade time. The realized counterpart of `/v1/wallet/positions` - every position of a wallet lands in exactly one of the two. EVM and Solana.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address (EVM hex, case-insensitive; Solana base58)."
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`. Omit to infer from the address: a `0x` wallet returns every EVM chain, a base58 wallet returns Solana.",
            "example": "evm:8453"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "1-100. Default 30."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Rows to skip for pagination. Default 0."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`lastTradeAt` (default, newest exit first) or `pnl` (largest realized PnL first)."
          }
        ]
      }
    },
    "/v1/wallet/equity/history": {
      "get": {
        "operationId": "wallet-equity-history",
        "summary": "Wallet Equity History",
        "description": "Total wallet value (USD) as a time series over a chosen window - the equity curve behind every portfolio chart.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x8888888888888888888888888888888888888888"
            },
            "description": "Wallet address.",
            "example": "0x8888888888888888888888888888888888888888"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 1755000000000
            },
            "description": "Window start (epoch ms).",
            "example": 1755000000000
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 1787800000000
            },
            "description": "Window end (epoch ms, default now).",
            "example": 1787800000000
          }
        ]
      }
    },
    "/v1/wallet/funding": {
      "get": {
        "operationId": "wallet-funding",
        "summary": "Wallet Funding",
        "description": "Where a wallet got its first funds: the earliest native transfer that funded it - funder address, timestamp, transaction and amount, with an entity tag (exchange, bridge…) when the funder is known. The primitive behind insider and sybil heuristics.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address (EVM hex, case-insensitive; Solana base58)."
          }
        ]
      }
    },
    "/v1/wallet/pnl": {
      "get": {
        "operationId": "wallet-pnl",
        "summary": "Wallet PnL",
        "description": "Realized PnL of a wallet: daily curve plus summary (total realized, win rate, trades, wins/losses). Omit `chain` to combine every EVM chain; `chain=solana` for Solana.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address (EVM hex, case-insensitive; Solana base58)."
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Public chain id. Omit for all EVM chains combined."
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`1d`, `7d`, `30d` (default) or `all`. On EVM `all` spans the wallet's full history."
          }
        ]
      }
    },
    "/v1/wallet/positions": {
      "get": {
        "operationId": "wallet-positions",
        "summary": "Wallet Positions",
        "description": "Every position of a wallet with entry price and PnL: amount held, USD value, average entry, realized + unrealized + total PnL, trade counts and first/last trade timestamps. EVM and Solana.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address (EVM hex, case-insensitive; Solana base58)."
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`. Omit to infer from the address: a `0x` wallet returns every EVM chain, a base58 wallet returns Solana.",
            "example": "evm:8453"
          },
          {
            "name": "tokens",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "description": "Comma-separated token addresses (1-50) to scope the response to - positions and summary cover only those tokens. Same shape, faster: the lookup narrows to the requested tokens.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          }
        ]
      }
    },
    "/v1/wallet/profile": {
      "post": {
        "operationId": "wallet-profile-batch",
        "summary": "Wallet Profile: batch",
        "description": "Batch twin: up to 100 addresses per call, response array in input order, `null` slots for wallets without a known identity (identities are harvested continuously - retry later, never assume permanent).",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {},
                    "description": "`[{ \"address\": \"…\" }]` - 1 to 100 items, EVM and Solana mixed freely."
                  }
                },
                "required": [
                  "items"
                ]
              }
            }
          }
        }
      },
      "get": {
        "operationId": "wallet-profile",
        "summary": "Wallet Profile",
        "description": "Who is behind an address: display name, avatar, ENS / Basename / .sol, bio, social accounts (Twitter, Farcaster, GitHub…), follower counts, sources, pro-trader flag - plus `linkedWallets`, other addresses of the same person (cross-wallet identity clusters). Built on our identity graph of 7.6M+ labeled wallets across EVM and Solana.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
            },
            "description": "Wallet address (EVM hex or Solana base58).",
            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
          }
        ]
      }
    },
    "/v1/wallet/trades": {
      "get": {
        "operationId": "wallet-trades",
        "summary": "Wallet Trades",
        "description": "Trade history of a wallet, newest first - multihop-deduplicated (one event per transaction, token and side; never doubled volumes). Paginate with the opaque `cursor` from `meta.nextCursor` on both EVM and Solana: exact keyset pagination that never skips or repeats a trade. Routed intermediate legs (the wSOL or stable a route passes through) are excluded by default and flagged `isRoutingHop`; on Solana pass `includeRoutingHops=true` to include them. Wash/MEV rows are kept and carry the `isWash` badge (Solana) so consumers choose.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address (EVM hex, case-insensitive; Solana base58)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "1-100. Default 50."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque resume token from `meta.nextCursor` - exact keyset pagination, no skip or duplicate. Works on both EVM and Solana."
          },
          {
            "name": "beforeAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Upper time bound (ms): only trades strictly older. Prefer `cursor` for exact paging."
          },
          {
            "name": "fromAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Inclusive lower time bound (ms)."
          },
          {
            "name": "includeRoutingHops",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Solana only. Also serve the intermediate legs of routed swaps. Default false."
          }
        ]
      }
    },
    "/v1/wallet/transfers": {
      "get": {
        "operationId": "wallet-transfers",
        "summary": "Wallet Transfers",
        "description": "Token in/out history of a wallet: deposits, withdrawals, plain transfers - timestamp (ms), token, amount, direction, counterparty, tx hash. The reconciliation primitive next to `/v1/wallet/trades`.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "x-default": "0x8888888888888888888888888888888888888888"
            },
            "description": "Wallet address.",
            "example": "0x8888888888888888888888888888888888888888"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "x-default": 50
            },
            "description": "Transactions scanned (default 50, max 100).",
            "example": 50
          }
        ]
      }
    }
  }
}
