{
  "openapi": "3.1.0",
  "info": {
    "title": "Serialized Data API",
    "description": "On-chain data for trading apps - tokens, candles, token filters. Built on our own indexers. 18 EVM chains + Solana, live.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://demo.serialized.xyz",
      "description": "Demo: no key needed, read endpoints, rate-limited per IP"
    },
    {
      "url": "https://api.serialized.xyz",
      "description": "Production: your API key in the Authorization header"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Your raw API key (not needed on the demo server)."
      }
    }
  },
  "security": [
    {
      "apiKey": []
    },
    {}
  ],
  "paths": {
    "/v1/audit/chains": {
      "get": {
        "operationId": "audit-coverage",
        "summary": "Audit Coverage",
        "description": "Chains covered by the audit engine.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/audit/contract": {
      "get": {
        "operationId": "contract-audit",
        "summary": "Contract Audit",
        "description": "Full Serialized Audit verdict for a contract: safety verdict, vulnerabilities, ownership/renounce state, proxy detection, open-source status. Async-first: an already-audited token answers inline; a new one starts the audit and returns a progress status to re-poll.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` (audit covers EVM only).",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token/contract address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          }
        ]
      }
    },
    "/v1/meta/chains": {
      "get": {
        "operationId": "chains",
        "summary": "Chains",
        "description": "Supported chains with status. Free.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/meta/factories": {
      "get": {
        "operationId": "get-v1-meta-factories",
        "summary": "Factories",
        "description": "Launchpad and factory keys of the registry: `factories` lists every key, `byChain` the keys the `factories=` filter of `/v1/pulse` accepts for each chain. EVM and Solana. Free.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/pool": {
      "get": {
        "operationId": "market-definition",
        "summary": "Market Definition",
        "description": "Static definition of one market (pool): pair address, venue/DEX, base & quote token metadata, fee tier, created-at. Slow-changing - cache-friendly. A market id is simply chain + pool address: stable, unique on its venue, never reused.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          }
        ]
      }
    },
    "/v1/pool/data": {
      "get": {
        "operationId": "market-data",
        "summary": "Market Data",
        "description": "Live snapshot of one market, safe to poll at high frequency: last price, per-window volume, liquidity, market cap, circulating + total supply, buys/sells and unique traders per window (5m/1h/24h). Buy/sell tax and the full security fields live on `/v1/token/security`.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "schema": {
              "default": "5m,1h,24h",
              "type": "string",
              "x-default": "5m,1h,24h"
            },
            "in": "query",
            "name": "windows",
            "required": false,
            "description": "Comma-separated stat windows.",
            "example": "5m,1h,24h"
          }
        ]
      }
    },
    "/v1/pool/ohlcv": {
      "get": {
        "operationId": "market-candles",
        "summary": "Market Candles",
        "description": "Historical OHLCV for one market, addressed by pool. Same engine and intervals as `/v1/token/ohlcv` (1s to 1M), deep backfill.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "schema": {
              "default": "5m",
              "type": "string",
              "x-default": "5m"
            },
            "in": "query",
            "name": "interval",
            "required": true,
            "description": "Candle interval (default `5m`).",
            "example": "5m"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 500,
              "default": 200,
              "type": "integer",
              "x-default": 300
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Candles per page, 1-500 (default 200). Honoured whenever the history allows it, however quiet the token is.",
            "example": 300
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "endTime",
            "required": false,
            "description": "Unix SECONDS, inclusive upper bound (pagination: prev oldestTime - 1). At most 1 day ahead; a millisecond value is rejected (400)."
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer",
              "x-default": 1755000000
            },
            "in": "query",
            "name": "from",
            "required": false,
            "description": "Unix SECONDS, inclusive lower bound (scans stop there). A millisecond value is rejected (400).",
            "example": 1755000000
          },
          {
            "schema": {
              "default": "native",
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "native"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "usd"
                  ]
                }
              ],
              "x-default": "native"
            },
            "in": "query",
            "name": "quote",
            "required": false,
            "description": "usd converts each candle at its bucket rate (solana only for now)",
            "example": "native"
          },
          {
            "schema": {
              "default": true,
              "type": "boolean",
              "x-default": true
            },
            "in": "query",
            "name": "fill",
            "required": false,
            "description": "Dense time axis (default true): a flat zero-volume candle for every bucket without a trade. `false` returns traded buckets only.",
            "example": true
          }
        ]
      }
    },
    "/v1/pool/top-traders": {
      "get": {
        "operationId": "get-v1-pool-top-traders",
        "summary": "GET /v1/pool/top-traders",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "chain",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Pool / market address"
          },
          {
            "schema": {
              "default": "1d",
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "1h"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "4h"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "1d"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "7d"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "30d"
                  ]
                }
              ],
              "x-default": "1d"
            },
            "in": "query",
            "name": "timeframe",
            "required": false,
            "example": "1d"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "pnl"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "bought"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "sold"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "txns"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "sortBy",
            "required": false
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "asc"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "desc"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "order",
            "required": false
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "integer",
              "x-default": 20
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "example": 20
          }
        ]
      }
    },
    "/v1/pool/trades": {
      "get": {
        "operationId": "market-trades",
        "summary": "Market Trades",
        "description": "Trade tape of one market: recent + historical, time-bounded, cursor pagination, optional participant filter. Each trade carries a stable id, timestamp (ms), price, size, side, maker and tx hash.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Pool / pair address (the stable market id on its chain - Uniswap V4 poolIds supported).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x16380ab7951906dd53ca6095d51f091ef2614127"
            },
            "in": "query",
            "name": "maker",
            "required": false,
            "description": "Filter trades by participant address.",
            "example": "0x16380ab7951906dd53ca6095d51f091ef2614127"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "buy"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "sell"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "tradeType",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "usdMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "usdMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "nativeMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "nativeMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "tokenAmountMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "tokenAmountMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer",
              "x-default": 1755000000000
            },
            "in": "query",
            "name": "fromAt",
            "required": false,
            "description": "Unix MILLISECONDS, inclusive lower bound. A value in seconds is rejected (400).",
            "example": 1755000000000
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "toAt",
            "required": false,
            "description": "Unix MILLISECONDS, inclusive upper bound (at most 7 days ahead). A value in seconds is rejected (400)."
          },
          {
            "schema": {
              "type": "string",
              "x-default": "eyJ0IjoxNzU1..."
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Opaque cursor from `meta.nextCursor`.",
            "example": "eyJ0IjoxNzU1..."
          },
          {
            "schema": {
              "default": "desc",
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "asc"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "desc"
                  ]
                }
              ],
              "x-default": "desc"
            },
            "in": "query",
            "name": "sort",
            "required": false,
            "example": "desc"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "washOnly"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "organicOnly"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "washFilter",
            "required": false,
            "description": "Keep only wash-tagged or only organic transactions (solana only)"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 500,
              "default": 100,
              "type": "integer",
              "x-default": 100
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "example": 100
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "required": false,
            "description": "CSV opt-ins: traderTxCounts"
          }
        ]
      }
    },
    "/v1/pools/data": {
      "post": {
        "operationId": "post-v1-pools-data",
        "summary": "POST /v1/pools/data",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "markets"
                ],
                "properties": {
                  "markets": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "windows": {
                    "default": "5m,1h,24h",
                    "description": "CSV stat windows",
                    "type": "string",
                    "example": "5m,1h,24h",
                    "x-default": "5m,1h,24h"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pools/sparklines": {
      "post": {
        "operationId": "post-v1-pools-sparklines",
        "summary": "POST /v1/pools/sparklines",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "markets",
                  "timeframe"
                ],
                "properties": {
                  "markets": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "timeframe": {
                    "default": "24h",
                    "description": "1m|5m|30m|1h|24h|7d",
                    "type": "string",
                    "example": "24h",
                    "x-default": "24h"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pools/trades": {
      "post": {
        "operationId": "batch-market-trades",
        "summary": "Batch Market Trades",
        "description": "The tape of up to 200 markets in a single call, since a timestamp - grouped per market, per-market row cap. One request replaces a full polling fan-out.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "markets",
                  "from"
                ],
                "properties": {
                  "markets": {
                    "minItems": 1,
                    "maxItems": 200,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "List of `{chain, address}` pools (up to 200 per call).",
                    "example": [
                      {
                        "chain": "evm:8453",
                        "address": "0x..."
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "evm:8453",
                        "address": "0x..."
                      }
                    ]
                  },
                  "from": {
                    "minimum": 0,
                    "description": "Only trades at/after this time (unix MILLISECONDS, at most 24h back; a value in seconds is rejected with 400). Page the per-market tape for history.",
                    "type": "integer",
                    "example": 1755000000000,
                    "x-default": 1755000000000
                  },
                  "perMarketLimit": {
                    "minimum": 1,
                    "maximum": 500,
                    "default": 100,
                    "type": "integer",
                    "description": "Rows per market (default 100, max 500).",
                    "example": 200,
                    "x-default": 200
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/prices/native": {
      "get": {
        "operationId": "native-prices",
        "summary": "Native Prices",
        "description": "Live USD prices of every chain's native coin, with per-symbol freshness (`updatedAt`, `stale`) - you always know how fresh a price is.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/pulse": {
      "get": {
        "operationId": "pulse",
        "summary": "Token Filters",
        "description": "Axiom-style launchpad lifecycle columns: `new` (created under 24h), `bonding` (active curves, sorted by bonding %), `graduated` (migrated or virtually-graduated, last 7 days). ~90 launchpads tracked natively across 18 EVM chains, bonding thresholds per factory.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "new"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "bonding"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "graduated"
                  ]
                }
              ],
              "x-default": "bonding"
            },
            "in": "query",
            "name": "view",
            "required": true,
            "description": "new | bonding | graduated",
            "example": "bonding"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chains",
            "required": true,
            "description": "CSV of chain ids (≤8).",
            "example": "evm:8453"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 30,
              "type": "integer",
              "x-default": 30
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-100, default 30.",
            "example": 30
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "ageMin",
            "required": false,
            "description": "minutes"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "ageMax",
            "required": false,
            "description": "minutes"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "liquidityMin",
            "required": false,
            "description": "USD"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "liquidityMax",
            "required": false,
            "description": "USD"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "marketCapMin",
            "required": false,
            "description": "USD"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "marketCapMax",
            "required": false,
            "description": "USD"
          },
          {
            "schema": {
              "minimum": 0,
              "maximum": 100,
              "type": "number"
            },
            "in": "query",
            "name": "bondingMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "maximum": 100,
              "type": "number"
            },
            "in": "query",
            "name": "bondingMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "volumeMin",
            "required": false,
            "description": "USD, window = view window"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "volumeMax",
            "required": false,
            "description": "USD"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "txnsMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "txnsMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "feesMin",
            "required": false,
            "description": "USD, lifetime"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "feesMax",
            "required": false,
            "description": "USD, lifetime"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "socials",
            "required": false,
            "description": "CSV: any|twitter|telegram|website"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "factories",
            "required": false,
            "description": "CSV of factory keys (see /v1/meta/factories)"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "isOG",
            "required": false,
            "description": "first token with this ticker on the chain"
          }
        ]
      }
    },
    "/v1/screener": {
      "get": {
        "operationId": "market-screener",
        "summary": "Market Screener",
        "description": "Every tradable market, paginated: filters by chain, sort by volume, market cap or creation time, per-window stats on every row, cursor pagination. The discovery primitive - poll it to detect new markets.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453,solana"
            },
            "in": "query",
            "name": "chains",
            "required": true,
            "description": "CSV of public chain ids (1-8). sortBy=createdAt serves ONE chain per call (indexed walk) - fan out per chain.",
            "example": "evm:8453,solana"
          },
          {
            "schema": {
              "default": "volume",
              "type": "string",
              "x-default": "volume"
            },
            "in": "query",
            "name": "sortBy",
            "required": false,
            "description": "`volume` (default), `marketCap` or `createdAt`. volume/marketCap rank within each chain's own universe (top 300 by 24h volume plus top 100 by 1h volume, named in `meta.universe`); `window` selects the rank window for `volume`.",
            "example": "volume"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "1h"
            },
            "in": "query",
            "name": "window",
            "required": false,
            "description": "Rank window for `sortBy=volume`: `5m`, `1h`, `6h` or `24h` (default `24h`, the relevance ranking).",
            "example": "1h"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 30,
              "type": "integer",
              "x-default": 50
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Rows per page (default 30, max 100).",
            "example": 50
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Opaque cursor from `meta.nextCursor`. Pins the computation each page was cut from, so a walk started within the last minute never skips or repeats a market."
          }
        ]
      }
    },
    "/v1/search": {
      "get": {
        "operationId": "token-search",
        "summary": "Token Search",
        "description": "Low-latency token search: exact address (EVM hex, Solana base58, pool addresses) or free-text name/symbol (trigram). Covers BOTH families: `chain=solana` or `chain=evm:<id>` restricts; no chain searches EVM and Solana in parallel and merges by USD liquidity. Results carry price, liquidity, market cap, 24h volume and 1h/24h price change.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "minLength": 1,
              "maxLength": 100,
              "type": "string",
              "x-default": "degen"
            },
            "in": "query",
            "name": "q",
            "required": true,
            "description": "Address or text.",
            "example": "degen"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "chain",
            "required": false,
            "description": "Restrict to one chain."
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 50,
              "default": 12,
              "type": "integer",
              "x-default": 12
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-50, default 12.",
            "example": 12
          }
        ]
      }
    },
    "/v1/token": {
      "get": {
        "operationId": "token-details",
        "summary": "Token Details",
        "description": "Full token snapshot: price (native + USD), market cap & FDV (sanity-capped), liquidity (+ATH), best pool (canonical priority ranking), launchpad state (bonding progress, graduation), deployer, 24h stats, metadata & socials.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address (EVM hex, case-insensitive).",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          }
        ]
      },
      "post": {
        "operationId": "token-details-batch",
        "summary": "Token Details: batch",
        "description": "Full-detail batch twin: up to 25 `{chain, address}` items (EVM and Solana can be mixed in one call), response array in input order with per-item `{error}` slots. Billed per item.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "minItems": 1,
                    "maxItems": 25,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "1 to 25 of `{chain, address}`.",
                    "example": [
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      },
                      {
                        "chain": "evm:8453",
                        "address": "0x4ed4…"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      },
                      {
                        "chain": "evm:8453",
                        "address": "0x4ed4…"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/token/dev-tokens": {
      "get": {
        "operationId": "deployer-track-record",
        "summary": "Deployer Track Record",
        "description": "Every token deployed by a wallet, with a verdict on each (`active`, `migrated`, `rugged`, `abandoned`) and an aggregate risk read on the deployer: totals per status, graduation success rate, risk level, first and last deploy. Pass `address` to evaluate the deployer BEHIND a token (we resolve it), or `wallet` to query a deployer directly.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "solana"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "solana"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "address",
            "required": false,
            "description": "Token address - its deployer is resolved first. Required unless `wallet` is given."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "wallet",
            "required": false,
            "description": "Deployer address, skipping resolution."
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "type": "integer",
              "x-default": 50
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-100. Default 50. `meta.truncated` tells you the stats only describe the returned page.",
            "example": 50
          }
        ]
      }
    },
    "/v1/token/holders": {
      "get": {
        "operationId": "token-holders",
        "summary": "Token Holders",
        "description": "Top holders with position size, share of supply, full PnL (realized + unrealized), buy/sell volumes, behavioral labels and named entities (exchanges, funds - the \"Coinbase\" signal). EVM and Solana.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "type": "integer",
              "x-default": 5
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-100, default 50.",
            "example": 5
          }
        ]
      }
    },
    "/v1/token/metadata": {
      "get": {
        "operationId": "token-metadata",
        "summary": "Token Metadata",
        "description": "Socials, description, images, dex-paid status. POST twin on the same path for batches (≤100, billed per item).",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          }
        ]
      },
      "post": {
        "operationId": "post-v1-token-metadata",
        "summary": "POST /v1/token/metadata",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/token/ohlcv": {
      "get": {
        "operationId": "candles-ohlcv",
        "summary": "Candles (OHLCV)",
        "description": "Chart-ready candles from 1s to 1M. Token-wide by default (the pool we price the token from, tracked across a bonding-curve migration), or an explicit set of up to 50 pools. Wick-outlier clamping and candle connecting included. On Base, the forming candle includes preconfirmed (flashblocks) swaps ~2.5s before block commit.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address (EVM hex, case-insensitive).",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "pools",
            "required": false,
            "description": "Optional CSV of pool addresses (≤50) to aggregate; default: the pool we price the token from, tracked across a bonding-curve migration.",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "schema": {
              "default": "5m",
              "type": "string",
              "x-default": "1h"
            },
            "in": "query",
            "name": "interval",
            "required": true,
            "description": "1s|5s|15s|30s|1m|3m|5m|15m|30m|1h|2h|4h|6h|12h|1d|1w|1M (default 5m).",
            "example": "1h"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 500,
              "default": 200,
              "type": "integer",
              "x-default": 24
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Candles per page, 1-500 (default 200). Honoured whenever the history allows it, however quiet the token is.",
            "example": 24
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "endTime",
            "required": false,
            "description": "Unix SECONDS, inclusive upper bound (at most 1 day ahead; a millisecond value is rejected with 400). Paginate back with the previous `meta.oldestTime - 1` while `meta.hasMore` is true."
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "from",
            "required": false,
            "description": "Unix SECONDS, inclusive lower bound (scans stop there). A millisecond value is rejected (400)."
          },
          {
            "schema": {
              "default": "native",
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "native"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "usd"
                  ]
                }
              ],
              "x-default": "usd"
            },
            "in": "query",
            "name": "quote",
            "required": false,
            "description": "`native` (default) or `usd` (Solana) - usd converts each candle at its bucket's SOL/USD rate from our in-house minute-grade price history.",
            "example": "usd"
          },
          {
            "schema": {
              "default": true,
              "type": "boolean",
              "x-default": true
            },
            "in": "query",
            "name": "fill",
            "required": false,
            "description": "Dense time axis (default true): a flat zero-volume candle for every bucket without a trade. `false` returns traded buckets only.",
            "example": true
          }
        ]
      }
    },
    "/v1/token/pools": {
      "get": {
        "operationId": "token-pools",
        "summary": "Token Pools",
        "description": "The markets of a token - rank 1 is the exact pool the token endpoint prices from, then every other market ranked by 24h volume and liquidity.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address (EVM hex, case-insensitive).",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "type": "integer",
              "x-default": 50
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-100, default 50.",
            "example": 50
          }
        ]
      }
    },
    "/v1/token/price": {
      "get": {
        "operationId": "token-price-lean",
        "summary": "Token Price",
        "description": "Cheap price tier for bots and tickers: price, market cap, liquidity. Nothing else.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address (EVM hex, case-insensitive).",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          }
        ]
      },
      "post": {
        "operationId": "token-price-batch",
        "summary": "Token Price: batch",
        "description": "Batch twin - up to 100 tokens in one call, one SQL round-trip. Response in input order; missing tokens come back as per-item `{error}` slots.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "[{chain, address}] - max 100."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/token/security": {
      "get": {
        "operationId": "token-security",
        "summary": "Token Security",
        "description": "Per-family security fields. Solana: mint/freeze authority state (on-chain truth). EVM: holders count, top-10 concentration (CEX-custody excluded), dev/snipers/bundlers holdings %, token burn %, buy/sell/transfer tax (on-chain simulation), dexPaid. null always means unknown, never a fake zero.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "solana"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id. `solana` for now; EVM ships with the LP burn/lock indexing (explicit 400 until then, never silent nulls).",
            "example": "solana"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token mint (base58, case-sensitive).",
            "example": "DezXAZ8z7PnrnRJjz3wXBoRgixCa6xjnB7YaB1pPB263"
          }
        ]
      },
      "post": {
        "operationId": "token-security-batch",
        "summary": "Token Security: batch",
        "description": "Per-family security fields. Solana: mint/freeze authority state (on-chain truth). EVM: holders count, top-10 concentration (CEX-custody excluded), dev/snipers/bundlers holdings %, token burn %, buy/sell/transfer tax (on-chain simulation), dexPaid. null always means unknown, never a fake zero.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "chain",
                        "address"
                      ],
                      "properties": {
                        "chain": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Up to 100 of `{chain, address}`, across chains. Response array is in input order with per-item `{error}` slots. Billed per item.",
                    "example": [
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      }
                    ],
                    "x-default": [
                      {
                        "chain": "solana",
                        "address": "DezXAZ…"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/token/sparklines": {
      "post": {
        "operationId": "sparklines-batch",
        "summary": "Sparklines",
        "description": "Small native-price arrays for list rows - one call for up to 100 pools. Timeframes 1m|5m|30m|1h|24h|7d. Missing pools return [] - we never invent data.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "chain",
                  "timeframe"
                ],
                "properties": {
                  "chain": {
                    "type": "string",
                    "description": "Public chain id - `evm:<id>` or `solana` (`solana:solana` accepted).",
                    "example": "evm:8453",
                    "x-default": "evm:8453"
                  },
                  "tokens": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "pools": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Pool addresses (up to 100). Billing is per pool; missing pools return `[]`."
                  },
                  "timeframe": {
                    "default": "24h",
                    "description": "`1m`|`5m`|`30m`|`1h`|`24h`|`7d`.",
                    "type": "string",
                    "example": "24h",
                    "x-default": "24h"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/token/stats": {
      "get": {
        "operationId": "token-stats-windowed",
        "summary": "Token Stats",
        "description": "Windowed volume, buy/sell counts and volumes, price change - 5m/1h/6h/24h in one call.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "pools",
            "required": false,
            "description": "Optional CSV of pool addresses (≤50) to restrict the windows to; default token-wide (every pool of the token).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "schema": {
              "default": "5m,1h,6h,24h",
              "type": "string",
              "x-default": "5m,1h,6h,24h"
            },
            "in": "query",
            "name": "windows",
            "required": false,
            "description": "CSV of 5m|1h|6h|24h (default all).",
            "example": "5m,1h,6h,24h"
          }
        ]
      }
    },
    "/v1/token/top-traders": {
      "get": {
        "operationId": "token-top-traders",
        "summary": "Token Top Traders",
        "description": "Ranked traders of a token, from our own PnL fold (per wallet and token): realized PnL in native and USD, tokens bought/sold, open position, average entry, win rate over closed positions, first/last trade. Default sort is `pnl` on both families; `sortBy` accepts `pnl`, `bought`, `sold` or `txns`.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address."
          },
          {
            "schema": {
              "default": "all",
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "all"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "1h"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "4h"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "1d"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "7d"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "30d"
                  ]
                }
              ],
              "x-default": "all"
            },
            "in": "query",
            "name": "timeframe",
            "required": false,
            "description": "all = lifetime PnL fold; 1h→30d = windowed recompute",
            "example": "all"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "pnl"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "bought"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "sold"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "txns"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "sortBy",
            "required": false,
            "description": "`pnl` (default), `bought`, `sold` or `txns`."
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "asc"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "desc"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "order",
            "required": false,
            "description": "Default: desc"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "type": "integer",
              "x-default": 20
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-100. Default 20.",
            "example": 20
          }
        ]
      }
    },
    "/v1/token/trades": {
      "get": {
        "operationId": "trades-tape",
        "summary": "Trades Tape",
        "description": "Real-time trade tape. `maker` is the trader behind the swap, resolved through relays, solvers and smart accounts, with isProTrader/isSniper badges on every row. On Base, preconfirmed (flashblocks) trades appear ~2.5s before block commit, flagged per row. Filters: side, USD/native/token amount ranges, date range, makers (POST twin, up to 2000). Cursor pagination.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Token address.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
            },
            "in": "query",
            "name": "pools",
            "required": false,
            "description": "Optional CSV of pool addresses (≤50) to restrict the tape; default token-wide (every pool of the token).",
            "example": "0x0ca6485b7e9cf814a3fd09d81672b07323535b64"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "buy"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "sell"
                  ]
                }
              ]
            },
            "in": "query",
            "name": "tradeType",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "usdMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "usdMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "nativeMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "nativeMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "tokenAmountMin",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "number"
            },
            "in": "query",
            "name": "tokenAmountMax",
            "required": false
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "fromAt",
            "required": false,
            "description": "Unix MILLISECONDS, inclusive lower bound. A value in seconds is rejected (400)."
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "toAt",
            "required": false,
            "description": "Unix MILLISECONDS, inclusive upper bound (at most 7 days ahead). A value in seconds is rejected (400)."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Opaque - from meta.nextCursor."
          },
          {
            "schema": {
              "default": "desc",
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "asc"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "desc"
                  ]
                }
              ],
              "x-default": "desc"
            },
            "in": "query",
            "name": "sort",
            "required": false,
            "example": "desc"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "washOnly"
                  ]
                },
                {
                  "type": "string",
                  "enum": [
                    "organicOnly"
                  ]
                }
              ],
              "x-default": "organicOnly"
            },
            "in": "query",
            "name": "washFilter",
            "required": false,
            "description": "`washOnly` or `organicOnly` - filter by the per-transaction wash badge (solana; every row carries `isWash`).",
            "example": "organicOnly"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 500,
              "default": 100,
              "type": "integer",
              "x-default": 3
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1-500, default 100.",
            "example": 3
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "required": false,
            "description": "Opt-ins: traderTxCounts."
          }
        ]
      },
      "post": {
        "operationId": "post-v1-token-trades",
        "summary": "POST /v1/token/trades",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "chain",
                  "address"
                ],
                "properties": {
                  "chain": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "pools": {
                    "description": "CSV of pool addresses (≤50) restricting the scope; default = token-wide",
                    "type": "string"
                  },
                  "tradeType": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "buy"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "sell"
                        ]
                      }
                    ]
                  },
                  "usdMin": {
                    "minimum": 0,
                    "type": "number"
                  },
                  "usdMax": {
                    "minimum": 0,
                    "type": "number"
                  },
                  "nativeMin": {
                    "minimum": 0,
                    "type": "number"
                  },
                  "nativeMax": {
                    "minimum": 0,
                    "type": "number"
                  },
                  "tokenAmountMin": {
                    "minimum": 0,
                    "type": "number"
                  },
                  "tokenAmountMax": {
                    "minimum": 0,
                    "type": "number"
                  },
                  "fromAt": {
                    "minimum": 0,
                    "description": "Unix MILLISECONDS, inclusive lower bound. A value in seconds is rejected (400).",
                    "type": "integer"
                  },
                  "toAt": {
                    "minimum": 0,
                    "description": "Unix MILLISECONDS, inclusive upper bound (at most 7 days ahead). A value in seconds is rejected (400).",
                    "type": "integer"
                  },
                  "cursor": {
                    "type": "string"
                  },
                  "sort": {
                    "default": "desc",
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "asc"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "desc"
                        ]
                      }
                    ],
                    "example": "desc",
                    "x-default": "desc"
                  },
                  "washFilter": {
                    "description": "Keep only wash-tagged or only organic transactions (solana only)",
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "washOnly"
                        ]
                      },
                      {
                        "type": "string",
                        "enum": [
                          "organicOnly"
                        ]
                      }
                    ]
                  },
                  "limit": {
                    "minimum": 1,
                    "maximum": 500,
                    "default": 100,
                    "type": "integer",
                    "example": 100,
                    "x-default": 100
                  },
                  "include": {
                    "description": "CSV opt-ins: traderTxCounts",
                    "type": "string"
                  },
                  "makers": {
                    "maxItems": 2000,
                    "description": "filter by trader addresses",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "operationId": "get-v1-usage",
        "summary": "GET /v1/usage",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/usage/breakdown": {
      "get": {
        "operationId": "get-v1-usage-breakdown",
        "summary": "GET /v1/usage/breakdown",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/usage/history": {
      "get": {
        "operationId": "get-v1-usage-history",
        "summary": "GET /v1/usage/history",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        }
      }
    },
    "/v1/wallet/closed-positions": {
      "get": {
        "operationId": "get-v1-wallet-closed-positions",
        "summary": "Wallet Closed Positions",
        "description": "Every position a wallet has fully exited: total bought and sold (USD and native), realized PnL in absolute and percent, buy/sell counts and last trade time. The realized counterpart of `/v1/wallet/positions` - the realized PnL of every position lands in exactly one of the two. EVM and Solana.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "wallet",
            "required": true,
            "description": "Wallet address (EVM hex, case-insensitive; Solana base58)."
          },
          {
            "schema": {
              "type": "string",
              "x-default": "solana"
            },
            "in": "query",
            "name": "chain",
            "required": false,
            "description": "Public chain id - `evm:<id>` or `solana`. Omit for all EVM chains.",
            "example": "solana"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "tokens",
            "required": false,
            "description": "Comma-separated token addresses (1-50) to scope the response to: the realized PnL of those tokens, without paging the whole wallet."
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 30,
              "type": "integer",
              "x-default": 30
            },
            "in": "query",
            "name": "limit",
            "required": true,
            "description": "1-100. Default 30.",
            "example": 30
          },
          {
            "schema": {
              "minimum": 0,
              "default": 0,
              "type": "integer",
              "x-default": 0
            },
            "in": "query",
            "name": "offset",
            "required": true,
            "description": "Rows to skip. Default 0.",
            "example": 0
          },
          {
            "schema": {
              "enum": [
                "lastTradeAt",
                "pnl"
              ],
              "default": "lastTradeAt",
              "type": "string",
              "x-default": "lastTradeAt"
            },
            "in": "query",
            "name": "sort",
            "required": false,
            "description": "`lastTradeAt` (default) or `pnl`.",
            "example": "lastTradeAt"
          }
        ]
      }
    },
    "/v1/wallet/equity/history": {
      "get": {
        "operationId": "wallet-equity-history",
        "summary": "Wallet Equity History",
        "description": "Total wallet value (USD) as a time series over a chosen window - the equity curve behind every portfolio chart.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x8888888888888888888888888888888888888888"
            },
            "in": "query",
            "name": "wallet",
            "required": true,
            "description": "Wallet address.",
            "example": "0x8888888888888888888888888888888888888888"
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer",
              "x-default": 1755000000000
            },
            "in": "query",
            "name": "from",
            "required": false,
            "description": "Unix MILLISECONDS. A value in seconds is rejected (400).",
            "example": 1755000000000
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer",
              "x-default": 1787800000000
            },
            "in": "query",
            "name": "to",
            "required": false,
            "description": "Unix MILLISECONDS, default now. A value in seconds is rejected (400).",
            "example": 1787800000000
          }
        ]
      }
    },
    "/v1/wallet/funding": {
      "get": {
        "operationId": "wallet-funding",
        "summary": "Wallet Funding",
        "description": "Where a wallet got its first funds: the earliest native transfer that funded it - funder address, timestamp, transaction and amount, with an entity tag (exchange, bridge…) when the funder is known. The primitive behind insider and sybil heuristics.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "wallet",
            "required": true,
            "description": "Wallet address (EVM hex, case-insensitive; Solana base58)."
          }
        ]
      }
    },
    "/v1/wallet/pnl": {
      "get": {
        "operationId": "wallet-pnl",
        "summary": "Wallet PnL",
        "description": "Realized PnL of a wallet: daily curve plus summary (total realized, win rate, trades, wins/losses). Omit `chain` to combine every EVM chain; `chain=solana` for Solana.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "wallet",
            "required": true,
            "description": "Wallet address (EVM hex, case-insensitive; Solana base58)."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "chain",
            "required": false,
            "description": "Public chain id. Omit for all EVM chains combined."
          },
          {
            "schema": {
              "enum": [
                "1d",
                "7d",
                "30d",
                "all"
              ],
              "default": "30d",
              "type": "string",
              "x-default": "30d"
            },
            "in": "query",
            "name": "period",
            "required": false,
            "description": "`1d`, `7d`, `30d` (default) or `all`. A period keeps the UTC days from now minus that many days through today, both inclusive: `7d` spans 8 calendar days, `1d` yesterday and today.",
            "example": "30d"
          }
        ]
      }
    },
    "/v1/wallet/positions": {
      "get": {
        "operationId": "wallet-positions",
        "summary": "Wallet Positions",
        "description": "Every position of a wallet with entry price and PnL: amount held, USD value, average entry, realized + unrealized + total PnL, trade counts and first/last trade timestamps. EVM and Solana.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "wallet",
            "required": true,
            "description": "Wallet address (EVM hex, case-insensitive; Solana base58)."
          },
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": false,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
            },
            "in": "query",
            "name": "tokens",
            "required": false,
            "description": "Comma-separated token addresses (1-50) to scope the response to - positions and summary cover only those tokens.",
            "example": "0x4ed4e862860bed51a9570b96d89af5e1b0efefed"
          },
          {
            "schema": {
              "minimum": 0,
              "default": 0.05,
              "type": "number",
              "x-default": 10
            },
            "in": "query",
            "name": "minValueUsd",
            "required": false,
            "description": "Only positions whose `amountUsd` reaches this floor. Default 0.05 (dust removed); pass 0 to lift the floor. A traded position whose value is unknown is always listed; `meta.summary` still covers every position of the wallet.",
            "example": 10
          }
        ]
      }
    },
    "/v1/wallet/profile": {
      "get": {
        "operationId": "wallet-profile",
        "summary": "Wallet Profile",
        "description": "Who is behind an address: display name, avatar, ENS / Basename / .sol, bio, social accounts (Twitter, Farcaster, GitHub…), follower counts, sources, pro-trader flag - plus `linkedWallets`, other addresses of the same person (cross-wallet identity clusters). Built on our identity graph of 7.6M+ labeled wallets across EVM and Solana.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
            },
            "in": "query",
            "name": "address",
            "required": true,
            "description": "Wallet address (EVM hex or Solana base58).",
            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
          }
        ]
      },
      "post": {
        "operationId": "wallet-profile-batch",
        "summary": "Wallet Profile: batch",
        "description": "Batch twin: up to 100 addresses per call, response array in input order, `null` slots for wallets without a known identity (identities are harvested continuously - retry later, never assume permanent).",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "additionalProperties": false,
                      "type": "object",
                      "required": [
                        "address"
                      ],
                      "properties": {
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "`[{ \"address\": \"…\" }]` - 1 to 100 items, EVM and Solana mixed freely."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/wallet/trades": {
      "get": {
        "operationId": "wallet-trades",
        "summary": "Wallet Trades",
        "description": "Trade history of a wallet, newest first - multihop-deduplicated (one event per transaction, token and side; never doubled volumes). Paginate with the opaque `cursor` from `meta.nextCursor` on both EVM and Solana: exact keyset pagination that never skips or repeats a trade. The intermediate legs of routed swaps (the wSOL, stable or quote a route passes through) are excluded by default - pass `includeRoutingHops=true` to see them, flagged `isRoutingHop`. Wash/MEV rows are NOT filtered and carry the `isWash` badge - consumers choose; `isWash` is `null` on EVM (no equivalent stamp).",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "wallet",
            "required": true,
            "description": "Wallet address (EVM hex, case-insensitive; Solana base58)."
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "type": "integer",
              "x-default": 50
            },
            "in": "query",
            "name": "limit",
            "required": true,
            "description": "1-100. Default 50.",
            "example": 50
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "beforeAt",
            "required": false,
            "description": "Upper bound, unix MILLISECONDS: trades strictly older. A value in seconds is rejected (400). Prefer `cursor` for exact pagination."
          },
          {
            "schema": {
              "minimum": 0,
              "type": "integer"
            },
            "in": "query",
            "name": "fromAt",
            "required": false,
            "description": "Inclusive lower time bound (ms)."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Opaque resume token from `meta.nextCursor` - exact keyset pagination on both EVM and Solana, no skip or duplicate."
          },
          {
            "schema": {
              "default": false,
              "type": "boolean",
              "x-default": false
            },
            "in": "query",
            "name": "includeRoutingHops",
            "required": false,
            "description": "Also serve the intermediate legs of routed swaps, flagged `isRoutingHop`. Default false.",
            "example": false
          }
        ]
      }
    },
    "/v1/wallet/transfers": {
      "get": {
        "operationId": "wallet-transfers",
        "summary": "Wallet Transfers",
        "description": "Token in/out history of a wallet: deposits, withdrawals, plain transfers - timestamp (ms), token, amount, direction, counterparty, tx hash. The reconciliation primitive next to `/v1/wallet/trades`.",
        "responses": {
          "200": {
            "description": "Standard `{ data, meta }` envelope."
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "x-default": "evm:8453"
            },
            "in": "query",
            "name": "chain",
            "required": true,
            "description": "Public chain id - `evm:<id>` or `solana`.",
            "example": "evm:8453"
          },
          {
            "schema": {
              "type": "string",
              "x-default": "0x8888888888888888888888888888888888888888"
            },
            "in": "query",
            "name": "wallet",
            "required": true,
            "description": "Wallet address.",
            "example": "0x8888888888888888888888888888888888888888"
          },
          {
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "type": "integer",
              "x-default": 50
            },
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Transactions scanned (default 50, max 100).",
            "example": 50
          }
        ]
      }
    }
  }
}
